html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.cryptpad-toolbar h2 {
  font: normal normal normal 12px Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
  color: #000;
  line-height: auto;
}
.cryptpad-toolbar {
  display: inline-block;
}
.realtime {
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.realtime input[type="text"] {
  height: 1em;
  margin: 0px;
}
.text-cell input[type="text"] {
  width: 400px;
}
input[type="text"][disabled],
textarea[disabled] {
  background-color: transparent;
  font: white;
  border: 0px;
}
input[type="text"]::placeholder {
  color: #333;
}
table#table {
  margin: 0px;
}
#tableContainer {
  position: relative;
  padding: 29px;
  padding-right: 79px;
}
#tableContainer button {
  height: 2rem;
  display: none;
}
#publish {
  display: none;
}
#publish,
#admin {
  margin-top: 15px;
  margin-bottom: 15px;
}
#create-user {
  position: absolute;
  display: inline-block;
  /*left: 0px;*/
  top: 55px;
  width: 50px;
  overflow: hidden;
}
#create-option {
  width: 50px;
}
#tableScroll {
  overflow-y: hidden;
  overflow-x: auto;
  margin-left: calc(30% - 50px + 29px);
  max-width: 70%;
  width: auto;
  display: inline-block;
}
#description {
  padding: 15px;
  margin: auto;
  min-width: 80%;
  width: 80%;
  min-height: 5em;
  font-size: 20px;
  font-weight: bold;
}
#description[disabled] {
  resize: none;
  color: #000;
  border: 1px solid #444;
}
#commit {
  width: 100%;
}
#howItWorks {
  width: 80%;
  margin: auto;
}
div.upper {
  width: 80%;
  margin: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px;
}
tbody {
  border: 1px solid #555;
}
tbody tr {
  text-align: center;
}
tbody tr:first-of-type th {
  font-size: 20px;
  border-top: 0px;
  font-weight: bold;
  padding: 10px;
  text-decoration: underline;
}
tbody tr:first-of-type th.table-refresh {
  color: #46E981;
  text-decoration: none;
  cursor: pointer;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
tbody tr th:first-of-type {
  border-left: 0px;
}
tbody tr th {
  box-sizing: border-box;
  border: 1px solid #555;
}
tbody tr th,
tbody tr td {
  color: #555;
}
tbody tr th.remove,
tbody tr td.remove {
  cursor: pointer;
}
tbody tr th:last-child {
  border-right: 0px;
}
tbody td {
  border-right: 1px solid #555;
  padding: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
}
tbody td:last-child {
  border-right: none;
}
form.realtime,
div.realtime {
  padding: 0px;
  margin: 0px;
}
form.realtime > textarea,
div.realtime > textarea {
  width: 50%;
  height: 15vh;
}
form.realtime table,
div.realtime table {
  border-collapse: collapse;
  width: calc(100% - 1px);
}
form.realtime table tr td:first-child,
div.realtime table tr td:first-child {
  position: absolute;
  left: 29px;
  top: auto;
  width: calc(30% - 50px);
}
form.realtime table tr td,
div.realtime table tr td {
  padding: 0px;
  margin: 0px;
}
form.realtime table tr td div.text-cell,
div.realtime table tr td div.text-cell {
  padding: 0px;
  margin: 0px;
  height: 100%;
}
form.realtime table tr td div.text-cell input,
div.realtime table tr td div.text-cell input {
  width: 80%;
  width: 90%;
  height: 100%;
  border: 0px;
}
form.realtime table tr td div.text-cell input[disabled],
div.realtime table tr td div.text-cell input[disabled] {
  background-color: transparent;
  color: #000;
  font-weight: bold;
}
form.realtime table tr td.checkbox-cell,
div.realtime table tr td.checkbox-cell {
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-width: 150px;
}
form.realtime table tr td.checkbox-cell div.checkbox-contain,
div.realtime table tr td.checkbox-cell div.checkbox-contain {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
}
form.realtime table tr td.checkbox-cell div.checkbox-contain label,
div.realtime table tr td.checkbox-cell div.checkbox-contain label {
  background-color: transparent;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable),
div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) {
  display: none;
}
form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover,
div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover {
  font-weight: bold;
  background-color: #FA5858;
  color: #000;
  display: block;
}
form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover:after,
div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover:after {
  height: 100%;
}
form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover:after,
div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover:after {
  content: "✖";
}
form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.yes,
div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.yes {
  background-color: #46E981;
}
form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.yes:after,
div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.yes:after {
  content: "✔";
}
form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.uncommitted,
div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.uncommitted {
  background: #ddd;
}
form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.mine,
div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.mine {
  display: none;
}
form.realtime table input[type="text"],
div.realtime table input[type="text"] {
  height: auto;
  border: 1px solid #fff;
  width: 80%;
}
form.realtime table thead td,
div.realtime table thead td {
  padding: 0px 5px;
  background: #aaa;
  border-radius: 20px 20px 0 0;
  text-align: center;
}
form.realtime table thead td input[type="text"],
div.realtime table thead td input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}
form.realtime table thead td input[type="text"][disabled],
div.realtime table thead td input[type="text"][disabled] {
  color: #000;
  padding: 1px 5px;
  border: none;
}
form.realtime table tbody .text-cell,
div.realtime table tbody .text-cell {
  background: #aaa;
}
form.realtime table tbody .text-cell input[type="text"],
div.realtime table tbody .text-cell input[type="text"] {
  width: calc(100% - 50px);
}
form.realtime table tbody .text-cell .edit,
div.realtime table tbody .text-cell .edit {
  float: right;
  margin: 0 10px 0 0;
}
form.realtime table tbody .text-cell .remove,
div.realtime table tbody .text-cell .remove {
  float: left;
  margin: 0 0 0 10px;
}
form.realtime table tbody td label,
div.realtime table tbody td label {
  border: 0.5px solid #555;
}
form.realtime table .edit,
div.realtime table .edit {
  color: #000;
  cursor: pointer;
  float: left;
  margin-left: 10px;
}
form.realtime table .remove,
div.realtime table .remove {
  float: right;
  margin-right: 10px;
}
form.realtime table thead tr th input[type="text"][disabled],
div.realtime table thead tr th input[type="text"][disabled] {
  background-color: transparent;
  color: #555;
  font-weight: bold;
}
form.realtime table thead tr th .remove,
div.realtime table thead tr th .remove {
  cursor: pointer;
  font-size: 20px;
}
form.realtime table tfoot tr,
div.realtime table tfoot tr {
  border: none;
}
form.realtime table tfoot tr td,
div.realtime table tfoot tr td {
  border: none;
  text-align: center;
}
form.realtime table tfoot tr td .save,
div.realtime table tfoot tr td .save {
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
form.realtime #adduser,
div.realtime #adduser,
form.realtime #addoption,
div.realtime #addoption {
  color: #46E981;
  border: 1px solid #46E981;
  padding: 15px;
  cursor: pointer;
}
form.realtime #adduser,
div.realtime #adduser {
  border-top-left-radius: 5px;
}
form.realtime #addoption,
div.realtime #addoption {
  border-bottom-left-radius: 5px;
}
