html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
body {
  display: flex;
  flex-flow: column;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 37px;
}
h3 {
  font-size: 34px;
}
h4 {
  font-size: 31px;
}
h5 {
  font-size: 27px;
}
h6 {
  font-size: 24px;
}
body .CodeMirror {
  height: 100%;
}
body .CodeMirror-focused .cm-matchhighlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
  background-position: bottom;
  background-repeat: repeat-x;
}
#colorPicker_check {
  display: block;
}
@media print {
  @page {
    margin: 0;
    size: landscape;
  }
  body {
    display: block;
  }
  body .CodeMirror,
  body #cme_toolbox {
    display: none;
  }
  body * {
    visibility: hidden;
    height: auto;
    max-height: none;
  }
  html,
  body {
    max-height: none;
    overflow: visible;
  }
  html .cp #print {
    display: block;
    visibility: visible;
  }
  html .cp #print * {
    visibility: visible;
  }
}
.cp {
  /* Slide position (print mode) */
  /* Slide position (present mode) */
  /* Slide content */
}
.cp #print {
  position: relative;
  display: none;
  font-size: 10.125vw;
  /*.slide-frame:first-child {
        margin-top: ~"calc(((100vh - 56.25vw)/2))";
    }*/
}
.cp #print .slide-frame {
  display: block !important;
  padding: 0.5em;
  margin: auto;
  border: 1px solid black;
  height: 50.625vw;
  width: 90vw;
  page-break-after: always;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cp #print .slide-frame li {
  min-width: 45vw;
}
.cp #print .slide-frame h1 {
  padding-top: 0;
}
.cp #print .slide-container {
  width: 90vw;
  height: 100vh;
  margin: 0vh 5vw;
  display: flex;
}
.cp #print .slide-container:last-child {
  height: calc(100vh - 2px);
}
.cp div.modal,
.cp div#modal {
  /* Navigation buttons */
  box-sizing: border-box;
  z-index: 9001;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: #000;
}
.cp div.modal .button,
.cp div#modal .button {
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  opacity: 0.6;
  display: none;
  z-index: 9001;
}
.cp div.modal .button:hover,
.cp div#modal .button:hover {
  opacity: 1;
  display: block !important;
}
.cp div.modal #button_exit,
.cp div#modal #button_exit {
  left: 20px;
  top: 20px;
}
.cp div.modal #button_left,
.cp div#modal #button_left {
  left: 6vw;
  bottom: 10vh;
}
.cp div.modal #button_right,
.cp div#modal #button_right {
  right: 6vw;
  bottom: 10vh;
}
.cp div.modal.shown,
.cp div#modal.shown {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
}
.cp div.modal #content,
.cp div#modal #content {
  font-size: 20vh;
  position: relative;
  height: 100%;
  overflow: visible;
  white-space: nowrap;
}
.cp div.modal #content.transition,
.cp div#modal #content.transition {
  transition: margin-left 1s;
}
.cp div.modal #content .slide-frame,
.cp div#modal #content .slide-frame {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid;
  white-space: normal;
  vertical-align: middle;
  /* center things as much as possible

                margin-top: 50vh;
                margin-bottom: 50vh;
                transform: translateY(-50%);

            */
  padding: 0.5em;
  width: 100vw;
  height: 56.25vw;
  max-height: 100vh;
  max-width: 177.78vh;
  margin: auto;
}
.cp div.modal #content .slide-container,
.cp div#modal #content .slide-container {
  display: inline-flex;
  height: 100%;
  width: 100vw;
  text-align: center;
  vertical-align: top;
}
.cp div.modal .center,
.cp div#modal .center {
  position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
  border: 1px solid #ffffff;
  text-align: center;
}
.cp div.modal.shown,
.cp div#modal.shown {
  display: block;
}
.cp div#modal #content .slide-frame,
.cp #print .slide-frame {
  text-align: left;
  position: relative;
}
.cp div#modal #content .slide-frame *,
.cp #print .slide-frame * {
  font-size: 27.5%;
  line-height: 110%;
}
.cp div#modal #content .slide-frame * *,
.cp #print .slide-frame * * {
  font-size: 100%;
  line-height: 1em;
}
.cp div#modal #content .slide-frame ul ul,
.cp #print .slide-frame ul ul,
.cp div#modal #content .slide-frame ol ul,
.cp #print .slide-frame ol ul,
.cp div#modal #content .slide-frame ul ol,
.cp #print .slide-frame ul ol,
.cp div#modal #content .slide-frame ol ol,
.cp #print .slide-frame ol ol {
  margin: 0;
}
.cp div#modal #content .slide-frame h1,
.cp #print .slide-frame h1 {
  font-size: 50%;
  line-height: 110%;
}
.cp div#modal #content .slide-frame h2,
.cp #print .slide-frame h2 {
  font-size: 42%;
  line-height: 110%;
}
.cp div#modal #content .slide-frame h3,
.cp #print .slide-frame h3 {
  font-size: 36%;
  line-height: 110%;
}
.cp div#modal #content .slide-frame h4,
.cp #print .slide-frame h4 {
  font-size: 30%;
  line-height: 110%;
}
.cp div#modal #content .slide-frame h5,
.cp #print .slide-frame h5 {
  font-size: 22%;
  line-height: 110%;
}
.cp div#modal #content .slide-frame h6,
.cp #print .slide-frame h6 {
  font-size: 16%;
  line-height: 110%;
}
.cp div#modal #content .slide-frame h1,
.cp #print .slide-frame h1,
.cp div#modal #content .slide-frame h2,
.cp #print .slide-frame h2,
.cp div#modal #content .slide-frame h3,
.cp #print .slide-frame h3,
.cp div#modal #content .slide-frame h4,
.cp #print .slide-frame h4,
.cp div#modal #content .slide-frame h5,
.cp #print .slide-frame h5,
.cp div#modal #content .slide-frame h6,
.cp #print .slide-frame h6 {
  color: inherit;
  text-align: center;
  padding-top: 0;
  margin-bottom: 0.5em;
}
.cp div#modal #content .slide-frame pre > code,
.cp #print .slide-frame pre > code {
  display: block;
  position: relative;
  border: 1px solid #333;
  width: 90%;
  margin: auto;
  padding-left: .25vw;
}
.cp div#modal #content .slide-frame ul,
.cp #print .slide-frame ul,
.cp div#modal #content .slide-frame ol,
.cp #print .slide-frame ol {
  min-width: 50%;
  max-width: 100%;
  display: table;
  margin: 0 auto;
  padding-left: 0.3em;
}
.cp div#modal #content .slide-frame img,
.cp #print .slide-frame img {
  position: relative;
  min-width: 1%;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}
.cp div#modal #content .slide-frame .slideNumber,
.cp #print .slide-frame .slideNumber {
  position: absolute;
  right: 5vh;
  bottom: 5vh;
  font-size: 10%;
  line-height: 110%;
}
.cp div#modal #content .slide-frame .slideDate,
.cp #print .slide-frame .slideDate {
  position: absolute;
  left: 5vh;
  bottom: 5vh;
  font-size: 10%;
  line-height: 110%;
}
.cp div#modal #content .slide-frame .slideTitle,
.cp #print .slide-frame .slideTitle {
  position: absolute;
  bottom: 5vh;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 10%;
  line-height: 110%;
}
#fileDialog {
  position: absolute;
  background-color: rgba(200, 200, 200, 0.8);
  top: 15vh;
  bottom: 15vh;
  left: 10vw;
  right: 10vw;
  border: 1px solid black;
  z-index: 10;
  overflow: auto;
  display: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}
#fileDialog .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}
#fileDialog .element {
  cursor: pointer;
  display: inline-flex;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  margin: 5px;
  overflow: hidden;
  word-wrap: break-word;
  background-color: white;
  padding: 5px;
  align-items: center;
}
#fileDialog .element span {
  width: 100px;
  text-align: center;
}
