@font-face {
  font-family: 'cptools';
  src:
    url('fonts/cptools.ttf?cljhos') format('truetype'),
    url('fonts/cptools.woff?cljhos') format('woff'),
    url('fonts/cptools.svg?cljhos#cptools') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cptools {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cptools' !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cptools-folder-upload:before {
  content: "\e912";
}
.cptools-folder-no-color:before {
  content: "\e900";
}
.cptools-slide:before {
  content: "\e902";
}
.cptools-shared-folder:before {
  content: "\e903";
}
.cptools-poll:before {
  content: "\e904";
}
.cptools-file-upload:before {
  content: "\e905";
}
.cptools-whiteboard:before {
  content: "\e906";
}
.cptools-todo:before {
  content: "\e907";
}
.cptools-pad:before {
  content: "\e908";
}
.cptools-folder-open:before {
  content: "\e909";
}
.cptools-kanban:before {
  content: "\e90a";
}
.cptools-folder:before {
  content: "\e90b";
}
.cptools-shared-folder-open:before {
  content: "\e90c";
}
.cptools-file:before {
  content: "\e90d";
}
.cptools-contacts:before {
  content: "\e90e";
}
.cptools-code:before {
  content: "\e90f";
}
.cptools-template:before {
  content: "\e901";
}
.cptools-new-template:before {
  content: "\e910";
}
.cptools-palette:before {
  content: "\e911";
}
