# SPDX-FileCopyrightText: 2023 XWiki CryptPad Team <contact@cryptpad.org> and contributors
#
# SPDX-License-Identifier: AGPL-3.0-or-later

.dockerignore
.editorconfig
.git
.gitignore
.gitmodules
.github
.reuse
.stylelintrc.js
.eslint.config.js
docker-compose.yml
Dockerfile*
*.png
*.md
/onlyoffice-builds.git/
/www/common/onlyoffice/dist/
blob
block
customize
data
datastore
docs
