# SPDX-FileCopyrightText: 2023 XWiki CryptPad Team <contact@cryptpad.org> and contributors
#
# SPDX-License-Identifier: AGPL-3.0-or-later

.dockerignore
.git
.gitignore
.gitmodules
.github
docker-compose.yml
traefik2.yml
Dockerfile*
*.png
/onlyoffice-builds.git/
/www/common/onlyoffice/dist/
blob
block
customize
data
datastore
