# SPDX-FileCopyrightText: 2023 XWiki CryptPad Team <contact@cryptpad.org> and contributors
#
# SPDX-License-Identifier: AGPL-3.0-or-later

node_modules/
www/components/
www/bower_components/
www/common/onlyoffice/dist
www/common/onlyoffice/x2t

www/scratch
www/accounts
www/lib
www/accounts
www/worker
www/todo

www/common/hyperscript.js

www/pad/wysiwygarea-plugin.js
www/pad/mediatag-plugin.js
www/pad/mediatag-plugin-dialog.js
www/pad/disable-base64.js
www/pad/wordcount/

www/kanban/jkanban.js
www/common/jscolor.js

www/common/media-tag-nacl.min.js

customize/

www/debug/chainpad.dist.js

www/pad/mathjax/
www/code/mermaid*.js
www/code/orgmode.js
