# SPDX-FileCopyrightText: 2023 XWiki CryptPad Team <contact@cryptpad.org> and contributors
#
# SPDX-License-Identifier: AGPL-3.0-or-later

datastore
tasks
www/components/*
www/bower_components/*
www/accounts
node_modules
/config.js
customization
.*.swp
*.db
/customize/
customize
messages.log
.DS_Store
www/scratch
data
npm-debug.log
pins/
blob/
block/
blobstage/
block/
logs/
privileged.conf
config/config.js
config/sso.js
lib/plugins/*
!lib/plugins/README.md
www/common/onlyoffice/v*

