datastore
tasks
www/bower_components/*
node_modules
/config.js
customization
.*.swp
*.db
/customize/
messages.log
.DS_Store
www/scratch
data
npm-debug.log
pins/
blob/
block/
blobstage/
block/
logs/
privileged.conf
config/config.js
*yolo.sh
