@import url("base.css");


/**************/
/* sectioning */
/**************/

/* chapter */
h1 div {
    font-size: 2rem;        /* \huge */
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;      /* \Huge */
    font-weight: bold;
    margin-top: calc(5rem + 1em);       /* \vspace*{} in LaTeX adds an additional line */
    margin-bottom: 4rem;
}

/* section */
h2 {
    font-size: 1.4rem;      /* \Large */
    font-weight: bold;
    margin-top: 3.5ex;
    margin-bottom: 2.3ex;
}

/* subsection */
h3 {
    font-size: 1.2rem;      /* \large */
    font-weight: bold;
    margin-top: 3.25ex;
    margin-bottom: 1.5ex;
}

/* subsubsection */
h4 {
    font-size: 1rem;        /* \normalsize */
    font-weight: bold;
    margin-top: 3.25ex;
    margin-bottom: 1.5ex;
}
