    <footer>
        <div class="container">
            <div class="row">
                    <div class="col">
                        <ul class="list-unstyled">
                            <li class="title">CryptPad</li>
                            <li><a href="/about.html" data-localization="about"></a></li>
                            <li><a href="/terms.html" data-localization="terms"></a></li>
                            <li><a href="/privacy.html" data-localization="privacy"></a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-unstyled">
                            <li class="title" data-localization="footer_applications"><li>
                            <li><a href="/pad/" data-localization="main_richText"></a></li>
                            <li><a href="/code/" data-localization="main_code"></a></li>
                            <li><a href="/slide/" data-localization="main_slide"></a></li>
                            <li><a href="/poll/" data-localization="main_poll"></a></li>
                            <li><a href="/drive/" data-localization="main_drive"></a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-unstyled">
                            <li class="title" data-localization="footer_aboutUs"><li>
                            <li><a href="https://labs.xwiki.com" target="_blank" rel="noopener noreferrer">XWiki Labs</a></li>
                            <li><a href="http://www.xwiki.com" target="_blank" rel="noopener noreferrer">XWiki SAS</a></li>
                            <li><a href="https://www.open-paas.org/" target="_blank" rel="noopener noreferrer">OpenPaaS</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-unstyled">
                            <li class="title" data-localization="footer_contact"><li>
                            <li><a href="http://webchat.freenode.net?channels=%23cryptpad&uio=MT1mYWxzZSY5PXRydWUmMTE9Mjg3JjE1PXRydWUe7" target="_blank" rel="noopener noreferrer">IRC</a></li>
                            <li><a href="https://twitter.com/cryptpad" target="_blank" rel="noopener noreferrer">Twitter</a></li>
                            <li><a href="https://github.com/xwiki-labs/cryptpad" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                            <li><a href="/contact.html">Email</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </footer>
