{{fork}}

<div id="main">
    <div class="mainOverlay"></div>
    <div id="align-container">
    <div id="main-container">
        <div id="data" class="hidden">
            <p class="left" data-localization="main_info"><!-- Collaborate in Confidence. --></p>
        </div>

        <div id="userForm" class="form-group hidden">
            <input type="text" id="name" name="name" class="form-control" data-localization-placeholder="login_username" autofocus>
            <input type="password" id="password" name="password" class="form-control" data-localization-placeholder="login_password">
            <div style="display: none;"><span class="remember form-check"><label for="rememberme" class="form-check-label" data-localization-append="login_remember"><input type="checkbox" id="rememberme" class="form-check-input" checked="checked"></label></span><br></div>
            <button class="btn btn-secondary login half first" data-localization="login_login"></button> <button class="btn btn-success register half" data-localization="login_register"></button>
            <p class="separator" data-localization="login_orNoLogin"></p>
            <p id="buttons" class="buttons"></p>
            <p class="driveLink"><a class="gotodrive" href="/drive/" data-localization="login_nologin"></a></p>
        </div>
        <div id="loggedIn" class="hidden">
            <p id="loggedInHello"></p>
            <p><button class="btn btn-primary gotodrive" data-localization="login_accessDrive"></button></p>
            <p><button id="loggedInLogOut" class="btn btn-secondary" data-localization="logoutButton"></button></p>
        </div>
    </div>
    </div>
</div>
<div class="page category first" id="knowmore">
    <center>
        <h1 data-localization="main_howitworks"></h1>
    </center>
</div>
<div class="page">
    <div class="info-container">
        <div class="left image">
            <img src="customize/images/zeroknowledge_small.png" alt="Zero Knowledge" />
        </div>
        <div class="right">
            <h2 data-localization="main_zeroKnowledge"></h2>
            <p data-localization="main_zeroKnowledge_p"></p>
        </div>
    </div>
</div>
<div class="page even">
    <div class="info-container">
        <div class="left">
            <h2 data-localization="main_writeItDown"></h2>
            <p data-localization="main_writeItDown_p"></p>
        </div>
        <div class="right image">
            <img src="customize/images/realtime_small.png" alt="User account" />
        </div>
    </div>
</div>
<div class="page">
    <div class="info-container">
        <div class="left image">
            <img src="customize/images/key_small.png" alt="User account" />
        </div>
        <div class="right">
            <h2 data-localization="main_share"></h2>
            <p data-localization="main_share_p"></p>
        </div>
    </div>
</div>
<div class="page even">
    <div class="info-container">
        <div class="left">
            <h2 data-localization="main_organize"></h2>
            <p data-localization="main_organize_p"></p>
        </div>
        <div class="right image">
            <img src="customize/images/organize.png" alt="User account" />
        </div>
    </div>
</div>
<div class="page category" id="tryit">
    <center>
        <h1 data-localization="tryIt">Try it out!</h1>
    </center>
</div>
<div class="page">
    <div class="app-container">
        <div class="app-row">
            <div class="app">
                <center>
                    <h2 data-localization="main_richText"></h2>
                    <img src="customize/images/pad.png" alt="Rich Text application" />
                </center>
                <p data-localization="main_richText_p"></p>
                <p class="buttons">
                    <a id="create-pad" href="/pad/"><button class="btn btn-secondary" data-localization="button_newpad"></button></a>
                </p>
            </div><div class="app">
                <center>
                    <h2 data-localization="main_code"></h2>
                    <img src="customize/images/code.png" alt="Code application" />
                </center>
                <p data-localization="main_code_p"></p>
                <p class="buttons">
                    <a id="create-code" href="/code/"><button class="btn btn-secondary" data-localization="button_newcode"></button></a>
                </p>
            </div><!--
        --></div><!--
        --><div class="app-row"><!--
            --><div class="app">
                <center>
                    <h2 data-localization="main_slide"></h2>
                    <img src="customize/images/slide.png" alt="Slide applcation" />
                </center>
                <p data-localization="main_slide_p"></p>
                <p class="buttons">
                    <a id="create-slide" href="/slide/"><button class="btn btn-secondary" data-localization="button_newslide"></button></a>
                </p>
            </div><div class="app">
                <center>
                    <h2 data-localization="main_poll"></h2>
                    <img src="customize/images/poll.png" alt="Poll application" />
                </center>
                <p data-localization="main_poll_p"></p>
                <p class="buttons">
                    <a id="create-poll" href="/poll/"><button class="btn btn-secondary" data-localization="button_newpoll"></button></a>
                </p>
            </div>
        </div>
    </div>
</div>
