<div id="main">
    <div id="overlay"></div>
    <div id="data">
      <p class="left" data-localization="main_p1"><!-- Zero Knowledge collaborative realtime editor. Protected from the NSA. --></p>

        <center>
          <h5 id="tryit" data-localization="tryIt"></h5>
        </center>

        <div id="buttons" class="buttons">
            <a id="create-pad" href="/pad/"><button class="btn btn-secondary" data-localization="button_newpad"></button></a>
            <a id="create-code" href="/code/"><button class="btn btn-secondary" data-localization="button_newcode"></button></a>
            <a id="create-poll" href="/poll/"><button class="btn btn-secondary" data-localization="button_newpoll"></button></a>
            <a id="create-slide" href="/slide/"><button class="btn btn-secondary" data-localization="button_newslide"></button></a>
            <br>
            <button class="btn btn-default nologin" data-localization="login_nologin"></button>
        </div>

    </div>

    <div id="userForm">
        <center>
            <h1 data-localization="form_title"></h1>
        </center>
        <label for="name" data-localization="form_username"></label><br>
        <input type="text" id="name" name="name" data-localization-placeholder="login_username" autofocus><br>

        <label for="password" data-localization="form_password"></label><br>
        <input type="password" id="password" name="password" data-localization-placeholder="login_password"><br>

        <input type="checkbox" id="rememberme" checked="checked"><label for="rememberme" data-localization="login_remember"></label><br>
        <br>
        <button class="btn btn-secondary login half first" data-localization="login_login"></button> <button class="btn btn-primary register half" data-localization="login_register"></button><br>
    </div>
</div>


