    <div id="noscriptContainer">
        <div class="mainOverlay"></div>
        <div id="noscript">
          <noscript>
          <p>
            <strong>OOPS</strong> In order to do encryption in your browser, Javascript is really <strong>really</strong> required.
          </p>
          <hr>
          <p>
            <strong>OUPS</strong> Afin de pouvoir réaliser le chiffrement dans votre navigateur, Javascript est <strong>vraiment</strong> nécessaire.
          </p>
          </noscript>
        </div>
    </div>

