<div id="main_other">
    <center>
        <h1 data-localization="policy_title"></h1>
    </center>

    <h2 data-localization="policy_whatweknow"></h2>
    <p data-localization="policy_whatweknow_p1"><!-- HTTP headers, IP address--></p>

    <h2 data-localization="policy_howweuse"></h2>
    <p data-localization="policy_howweuse_p1"><!-- Referrer : promoting--></p>
    <p data-localization="policy_howweuse_p2"><!-- Browser : prioritizing new features--></p>

    <h2 data-localization="policy_whatwetell"></h2>
    <p data-localization="policy_whatwetell_p1"></p>

    <h2 data-localization="policy_links"></h2>
    <p data-localization="policy_links_p1"></p>

    <h2 data-localization="policy_ads"></h2>
    <p data-localization="policy_ads_p1"></p>

    <h2 data-localization="policy_choices"></h2>
    <p data-localization="policy_choices_open"></p>
    <p data-localization="policy_choices_vpn"></p>
    <p data-localization="policy_choices_ads"></p>

    <br />
</div>


