    <center>
        <img class="imgcenter cryptofist" src="/customize/cryptofist_small.png" />
        <h1>Cryptpad Terms of Service</h1>
    </center>

    <p>Please don't be malicious, abusive, or do anything illegal.</p>
    <p>We hope you find this service useful, but availability or performance cannot be guaranteed. Please export your data regularly.</p>
    <p>Cryptpad documents can be read or modified by anyone who can guess or otherwise obtain the document's fragment identifier.
        We recommend that you use end-to-end-encrypted (e2ee) messaging technology to share URLs, and assume no liability in the event that such a URL is leaked.</p>
    <p>Metadata provided by your browser to the server may be logged for the purpose of maintaining the service.</p>
    <p>We do not provide individualized data to third parties unless required to by law.</p>

