<div id="cryptpadTopBar">
    <span>
        <a class="gotoMain" href="/">
            <img src="customize/cryptofist_mini.png" class="cryptpad-logo" alt="" /> CryptPad
        </a>
    </span>

    <span class="slogan" data-localization="main_slogan"></span>

    <span class="right">
        <a href="/about.html">About</a>
    </span>
    <span class="right">
        <a href="/privacy.html">Privacy</a>
    </span>
    <span class="right">
        <a href="/terms.html">ToS</a>
    </span>
    <span class="right">
        <a href="/contact.html">Contact</a>
    </span>
</div>
