@import "/customize/src/less/variables.less";
@import "/customize/src/less/mixins.less";

@button-border: 2px;

html, body {
    margin: 0px;
    height: 100%;
}

#toolbar {
    display: flex; // We need this to remove a 3px border at the bottom of the toolbar
}

body {
    display: flex;
    flex-flow: column;
}
#app {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cryptpad-toolbar {
    padding: 0px;
    display: inline-block;
}