/*
 * SPDX-FileCopyrightText: 2023 XWiki CryptPad Team <contact@cryptpad.org> and contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import (reference) '../../customize/src/less2/include/framework.less';
@import (reference) '../../customize/src/less2/include/sidebar-layout.less';
@import (reference) '../../customize/src/less2/include/support.less';
@import (reference) '../../customize/src/less2/include/charts.less';
&.cp-app-moderation {

    .framework_min_main();
    .sidebar-layout_main();
    .support_main();
    .charts_main();

    .cp-hidden {
        display: none !important;
    }

    label{
        margin-top:0.5rem;
    }

    display: flex;
    flex-flow: column;

    background: @cp_sidebar-right-bg;
    color: @cp_sidebar-right-fg;

    #cp-content-container {
        overflow: auto;
    }
    .cp-support-container {
        display: flex;
        flex-wrap: wrap;
        .cp-support-column {
            min-width: 700px;
            flex: 1 0 50%;
            h1 {
                display: flex;
                align-items: center;
                button {
                    margin-left: 50px !important;
                }
            }
            .cp-support-count {
                margin-left: 10px;
            }
        }

    }

    .cp-moderation-userdata {
        display: flex;
        align-items: center;
        max-width: 100%;
        width: 2*@sidebar_button-width;
        input {
            //width: @sidebar_button-width !important;
            //max-width: @sidebar_button-width;
        }
        textarea {
            margin: 0;
            height: 5rem;
            min-width: 5rem;
            flex: 1;
        }
        .cp-moderation-userdata-inputs {
            display: flex;
            flex-flow: column;
            margin-right: 1rem;
            min-width: 10rem;
            width: 25rem;
            :first-child {
                margin-top: 0 !important;
            }
        }
    }
}

