@import (reference) '../../customize/src/less2/include/framework.less';
@import (reference) '../../customize/src/less2/include/sidebar-layout.less';
@import (reference) '../../customize/src/less2/include/support.less';

&.cp-app-support {
    .framework_min_main();
    .sidebar-layout_main();
    .support_main();

    .cp-hidden {
        display: none !important;
    }

    display: flex;
    flex-flow: column;

            .cp-support-form-attachments {
                .fa {
                    cursor: pointer;
                }
                &> span {
                    padding: 10px;
                }
            }

    .cp-support-language-list {
        .cp-support-language {
            margin-left: 5px;
            background-color: @cp_token-bg;
            padding: 0 5px;
        }
    }
    a {
        color: @cryptpad_color_link;
        text-decoration: underline;
    }
}

