/* PAGE */
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 20px;
  overflow: auto;
}
body {
  display: flex;
  flex-flow: column;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.app-container {
  flex: 1;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-flow: row;
}
.fa {
  /*min-width: 17px;*/
  margin-right: 3px;
  font-family: FontAwesome;
}
ul {
  list-style: none;
  padding-left: 0px;
}
li {
  padding: 0px 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.folder,
.file {
  margin-right: 5px;
}
.contextMenu {
  display: none;
  position: absolute;
}
.contextMenu li {
  padding: 0;
  font-size: 16px;
}
.droppable {
  background-color: #FE9A2E;
  color: #222;
}
.selected {
  border: 1px dotted #bbb;
  background: #666;
  color: #eee;
  margin: -1px;
}
span.fa-folder,
span.fa-folder-open {
  color: #FEDE8B;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
/* TREE */
#tree {
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  background: #ffffff;
  overflow: auto;
  resize: horizontal;
  width: 250px;
  white-space: nowrap;
  max-width: 500px;
  min-width: 200px;
  padding: 10px 0px;
  color: #000000;
}
#tree li {
  cursor: auto;
}
#tree li:hover > span.element {
  text-decoration: underline;
}
#tree li.collapsed ul {
  display: none;
}
#tree li input {
  width: calc(70%);
}
#tree span.element {
  cursor: pointer;
}
#tree .active {
  text-decoration: underline;
}
#tree .category2 {
  margin-top: 2em;
}
#tree .category2 .root > .fa {
  min-width: 30px;
  cursor: pointer;
}
#tree .fa.expcol {
  margin-left: -10px;
  font-size: 14px;
  position: absolute;
  left: -20px;
  top: 9px;
  width: auto;
  height: 11px;
  padding: 0;
  margin: 0;
  background: white;
  z-index: 10;
  cursor: default;
}
#tree .fa.expcol:before {
  position: relative;
  top: -1px;
}
#tree ul {
  margin: 0px 0px 0px 10px;
  list-style: none;
  padding-left: 10px;
}
#tree ul li {
  position: relative;
}
#tree ul li:before {
  position: absolute;
  left: -15px;
  top: -0.25em;
  content: '';
  display: block;
  border-left: 1px solid #888888;
  height: 1em;
  border-bottom: 1px solid #888888;
  width: 17.5px;
}
#tree ul li:after {
  position: absolute;
  left: -15px;
  bottom: -7px;
  content: '';
  display: block;
  border-left: 1px solid #888888;
  height: 100%;
}
#tree ul li.root {
  margin: 0px 0px 0px -10px;
}
#tree ul li.root:before {
  display: none;
}
#tree ul li.root:after {
  display: none;
}
#tree ul li:last-child:after {
  display: none;
}
/* CONTENT */
#content {
  box-sizing: border-box;
  background: #ffffff;
  color: #000000;
  overflow: auto;
  flex: 1;
  display: flex;
  flex-flow: column;
}
#content.readonly {
  background: #e6e6e6;
}
#content h1 {
  padding-left: 10px;
  margin-top: 10px;
}
#content .info-box {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  margin: 10px auto;
  background: #ddddff;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}
#content .info-box span {
  cursor: pointer;
  margin-left: 10px;
  float: right;
}
#content li:not(.header) *:not(input) {
  pointer-events: none;
}
#content li:not(.header):hover .name {
  text-decoration: underline;
}
#content div.grid {
  padding: 20px;
}
#content div.grid li {
  display: inline-block;
  margin: 10px 10px;
  width: 140px;
  text-align: center;
  vertical-align: top;
}
#content div.grid li .name {
  width: 100%;
}
#content div.grid li input {
  width: 100%;
}
#content div.grid li .fa {
  display: block;
  margin: auto;
  font-size: 40px;
  text-align: center;
}
#content div.grid li .fa.listonly {
  display: none;
}
#content div.grid .listElement {
  display: none;
}
#content .list ul {
  display: table;
  width: 100%;
  padding: 0px 10px;
}
#content .list li {
  display: table-row;
}
#content .list li > span {
  padding: 0 5px;
  display: table-cell;
}
#content .list li.header {
  cursor: default;
  color: #555555;
}
#content .list li.header span:not(.fa) {
  text-align: left;
}
#content .list li.header span.sortasc,
#content .list li.header span.sortdesc {
  float: right;
}
#content .list li.header > span {
  padding: 15px 5px;
}
#content .list li.header > span.active {
  font-weight: bold;
}
#content .list li.header > span.clickable {
  cursor: pointer;
}
#content .list li.header > span.clickable:hover {
  background: #e8e8e8;
}
#content .list .element span {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}
#content .list .element span.icon {
  width: 30px;
}
#content .list .element span.type,
#content .list .element span.atime,
#content .list .element span.ctime {
  width: 175px;
}
#content .list .element span.title {
  width: 250px;
}
@media screen and (max-width: 1200px) {
  #content .list .element span.title {
    display: none;
  }
}
#content .list .element span.folders,
#content .list .element span.files {
  width: 150px;
}
.parentFolder {
  cursor: pointer;
  margin-left: 10px;
}
.parentFolder:hover {
  text-decoration: underline;
}
#folderContent {
  padding-right: 10px;
  flex: 1;
}
/* Toolbar */
#driveToolbar {
  background: #dddddd;
  color: #555555;
  height: 40px;
  display: flex;
  flex-flow: row;
  border-top: 1px solid #cccccc;
  border-bottom: ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
  box-sizing: content-box;
  /* The container <div> - needed to position the dropdown content */
}
#driveToolbar .newPadContainer {
  display: inline-block;
  height: 100%;
}
#driveToolbar button.element {
  border-radius: 2px;
  height: 30px;
  background: #888888;
  color: #eeeeee;
  font-size: 16px;
  border: none;
  font-weight: bold;
}
#driveToolbar button.element:hover {
  box-shadow: 0px 0px 2px #000;
}
#driveToolbar button.new {
  padding: 0 20px;
}
#driveToolbar .dropdown-bar {
  margin: 5px 5px;
  line-height: 1em;
  position: relative;
  display: inline-block;
}
#driveToolbar .dropdown-bar.right {
  float: right;
  /* Right-side buttons */
}
#driveToolbar .dropdown-bar.right button {
  display: inline-block;
}
#driveToolbar .dropdown-bar.right button.active {
  display: none;
}
#driveToolbar .dropdown-bar.right button .fa {
  margin-right: 0px;
}
#driveToolbar .dropdown-bar-content {
  margin-top: -3px;
  margin-right: 2px;
}
#driveToolbar .leftside {
  width: 250px;
  margin: 0;
  padding: 0;
}
#driveToolbar .rightside {
  margin: 0;
  padding: 0;
  flex: 1;
}
#driveToolbar .path {
  display: inline-block;
  height: 100%;
  line-height: 40px;
  cursor: default;
}
#driveToolbar .path .element {
  padding: 5px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-sizing: border-box;
}
#driveToolbar .path .element.clickable {
  cursor: pointer;
}
#driveToolbar .path .element.clickable:hover {
  background: #ffffff;
  border: 1px solid #888888;
}
