@import (reference) "../../customize/src/less2/include/browser.less";
@import (reference) "../../customize/src/less2/include/framework.less";
@import (reference) "../../customize/src/less2/include/tools.less";
@import (reference) "../../customize/src/less2/include/markdown.less";
@import (reference) "../../customize/src/less2/include/avatar.less";
@import (reference) '../../customize/src/less2/include/admin.less';
@import (reference) '../../customize/src/less2/include/icon-colors.less';

&.cp-page-install {
    .admin_main();
    div.cp-palette-container {
        max-width: 400px;
    }
    #cp-onboarding {
        position: fixed;
        z-index: 1000;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: @cp_loading-bg;
        color: @cp_loading-fg;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .cp-onboarding-box {
            background-color: @cp_loading-progress-bg;
            border-radius: @variables_radius_L;
            box-shadow: 0px 0px 10px 0px @cp_shadow-color;
            padding: 30px 110px 20px 110px;
        }
        .cp-onboarding-logo-input {
            display: none;
        }
        .cp-onboardscreen-logo {
            min-width: 200px;
            max-width: 200px;
            nav {
                display: flex;
                margin-top: 0.5rem;
                justify-content: center;
            }
        }
    }
}

.configscreen {
    //width: 70%;
    //height: 75%;
    background-color: @cp_loading-progress-bg;
    border-radius: @variables_radius_L;
    box-shadow: 0px 0px 10px 0px @cp_shadow-color;
    padding: 30px 110px 20px 110px;
}

// .cp-onboardscreen-form {
//     // padding:10px;
//     // position:relative;
//     // height: 90%;
// }

.cp-onboardscreen-screentitle {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    h1.cp-onboardscreen-title {
        font-family: "IBM Plex Mono";
        color: @cryptpad_color_link;
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.cp-instance-form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    input, textarea {
        border: 0px transparent !important;
    }
    .cp-onboardscreen-logo {
        .cp-sidebar-form {
            background-color: @cp_forms-bg;
            border-radius: @variables_radius;
            padding: 0.5rem;
            .cp-admin-customize-logo {
                img {
                    max-width: 100%;
                }
            }
        }
    }
    .cp-instance-text-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .cp-onboardscreen-name {
            input {
                font-family: "IBM Plex Mono";
                font-size: 1.2em;
            }
        }
        .cp-onboardscreen-colorpick {
            div.cp-palette-container {
                display: flex;
                justify-content: flex-start;
                .cp-palette-color {
                    margin-right: 1rem;
                }
            }
        }
    }
}


nav.cp-onboardscreen-nav {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1rem;
}


// .cp-onboardscreen-name {
//     width:70%; 
//     float:right; 
//     padding:10px
// }

// .cp-onboardscreen-desc {
//     width:67% !important;
//     float:right !important;
//     padding:20px !important;
//     margin-right:10px !important;
// }

// .cp-onboardscreen-logo {
//     width:20%; 
//     height:30%;
//     float:left;
//     margin-left:10px;
// }


// .kanban-colors(@kanban-colors; @index) when (@index > 0){
//         // loop through the @colors
//         .kanban-colors(@kanban-colors; (@index - 1));
//         @color: extract(@kanban-colors, @index);
//         // make a numbered class selector for each color
//         .cp-kanban-palette-color@{index}{
//             background-color: @color !important;
//             &.cp-kanban-palette-board {
//                 background-color: @color !important;
//             }
//             &.kanban-board-inner {
//                 background-color: fade(@color, 50%) !important;
//             }
//         }
//     }

// .cp-onboardscreen-colorpick {
//     padding-left:50%
// }

// .cp-onboardscreen-color {
//     width:200%;
//     height:20%;
//     margin-left: -65%;
//     margin-bottom: -10%;
// }

// .cp-onboardscreen-checkmark {
//     text-align:right !important;
//     color: white !important;
// }

// .cp-onboardscreen-nav {
//     padding-left:90%;
//     margin-right: -2px !important;
//     margin-top: 300px;
//     position:absolute;
//     width:100%;
//     display:float;
// }

// .cp-onboardscreen-prev {
//     margin-left: 20px;
//     left: 0;
//     position: absolute;
// }

// .cp-onboardscreen-save {
//     right: 0;
//     position: absolute;
//     margin-right: 40px
// }

// .cp-admin-customize-apps-grid {
//     padding: 10px;
//     margin-left: 10px;
//     width: 105%;
// }

// .cp-appblock {
//     width:30%;
//     float:left !important;
//     display:block !important;
//     margin: 2px !important;
//     background-color: #212121!important;
//     border-color:white;
//     height: 60px !important;
//     padding: 10px;
// }


// .cp-admin-customize-options-grid {
//     height:40%;
//     float:center;
//     margin-left: 20px;
//     width: 105%;
//     margin-bottom: -180px;

// }

// .cp-optionblock {
//     width:40%;
//     float:left !important;
//     display:block !important;
//     margin: 2px !important;
//     background-color: #212121!important;
//     border-color:white;
//     height: 60% !important;
//     padding: 10px;


// }

