@import "./variables.less";

#cryptpadTopBar {
    background: @topbar-back;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: @topbar-height;
    color: @topbar-color;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px;
    box-sizing: border-box;
    font-size: 30px;

    &> span {
        vertical-align: middle;
        display: inline-block;
        height: 100%;
    }
    .cryptpad-logo {
        height: 40px;
        vertical-align: middle;
    }

    .slogan {
        font-size: 20px;
        color: @topbar-color;
        line-height: 40px;
    }

    .gotoMain {
        color: @topbar-color;
        height: 40px;
        line-height: 40px;
        &:hover {
            text-decoration: none;
            color: #558;
        }
    }

    .right {
        float: right;
        font-size: 20px;
        margin: 0px 10px;
        line-height: 40px;

        a {
            font-weight: 500;
            font-size: 0.75em;
            color: #558;

            &:hover {
                text-decoration: none;
                color: #000;
            }
        }
    }
}
