/*
    Apparently Chrome fails to render fonts half the time, so we just have to drop
    lato for now :(
*/
.lato {
  font-family: lato, Helvetica, sans-serif;
  font-size: 1.02em;
}
html {
  font-size: .875em;
  background-color: #302B28;
  color: #fafafa;
}
html,
body {
  font-family: Georgia,Cambria,serif;
  height: 100%;
}
body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fafafa;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-style: normal;
  font-weight: 600;
  margin-top: 0;
}
h1 {
  line-height: 3rem;
  font-size: 2.05714rem;
  margin-bottom: .21999rem;
  padding-top: .78001rem;
}
h2 {
  font-size: 1.95312rem;
  margin-bottom: .18358rem;
  padding-top: .81642rem;
}
h2,
h3 {
  line-height: 3rem;
}
h3 {
  font-size: 1.64571rem;
  margin-bottom: .07599rem;
  padding-top: .92401rem;
}
h4 {
  font-size: 1.5625rem;
  margin-bottom: .54686rem;
  padding-top: .45314rem;
}
h5 {
  font-size: 1.25rem;
  margin-bottom: -0.56251rem;
  padding-top: .56251rem;
}
h6 {
  font-size: 1rem;
  margin-bottom: -0.65001rem;
  padding-top: .65001rem;
}
a {
  cursor: pointer;
  color: #46E981;
  text-decoration: none;
}
a:hover {
  color: #a1f4bf;
}
img {
  height: auto;
  max-width: 100%;
}
img.cryptofist {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
p {
  padding-top: .66001rem;
  margin-top: 0;
}
p,
pre {
  margin-bottom: 1.33999rem;
}
p,
pre,
td,
a,
table,
tr {
  font-family: lato, Helvetica, sans-serif;
  font-size: 1.02em;
}
#main {
  width: 70vw;
  margin: auto;
  font-size: medium;
  padding-bottom: 1em;
}
/* buttons */
.create {
  border: 2px solid #46E981;
  border-radius: 10px;
  background-color: #302B28;
  color: #46E981;
  font-weight: bold;
  font-size: large;
  margin-right: 5px;
  margin-left: 5px;
}
.create:hover {
  border: 2px solid #a1f4bf;
  color: #46E981;
}
.buttons {
  margin-bottom: 50px;
  margin-top: 20px;
}
.button {
  padding: 4px 12px 4px 12px;
  border-radius: 5px;
}
/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px;
}
tbody {
  border: 2px solid black;
}
tbody tr {
  text-align: center;
}
tbody tr:first-of-type th {
  border-top: 0px;
  font-weight: bold;
  padding: 10px;
  text-decoration: underline;
}
tbody tr:nth-child(odd) {
  background-color: #685d56;
}
tbody tr th:first-of-type {
  border-left: 0px;
}
tbody tr th {
  box-sizing: border-box;
  border: 1px solid black;
}
tbody tr th,
tbody tr td {
  color: #fafafa;
}
tbody tr th:last-child {
  border-right: 0px;
}
tbody .remove {
  cursor: pointer;
  color: #FF0073;
}
tbody td {
  border-right: 1px solid black;
  padding: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
}
tbody td:last-child {
  border-right: none;
}
/* Bottom Bar */
.bottom-bar {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 4%;
  height: 2.5em;
  display: inline-block;
  width: 100%;
  background: #302B28;
  border-top: 1px solid #444;
}
.bottom-bar a {
  color: #46E981;
  text-decoration: none;
}
.bottom-bar p {
  margin: -1px;
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 20px;
  display: block;
  float: left;
  padding-top: 3px;
  color: #fafafa;
}
.bottom-bar img {
  margin-right: 4px;
  position: relative;
}
.bottom-bar-left {
  display: block;
  float: left;
  padding-left: 10px;
}
.bottom-bar-right {
  display: block;
  float: right;
  padding-right: 20px;
}
.bottom-bar-center {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.bottom-bar-heart {
  top: 2px;
}
.bottom-bar-xwiki {
  top: 3px;
}
.bottom-bar-openpaas {
  top: 3px;
  max-width: 100px;
}
