/*  Logs are shown to inform the user that something has happened
    They are only displayed briefly
*/
.alertify-logs > * {
  padding: 12px 48px;
  color: #fafafa;
  font-weight: bold;
  font-size: large;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}
.alertify-logs > *,
.alertify-logs > *.default {
  background: rgba(0, 0, 0, 0.8);
}
.alertify-logs > *.error {
  background: #FA5858;
}
.alertify-logs > *.success {
  background: #46E981;
  color: #fff;
}
.alertify {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fafafa;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.alertify.hide {
  opacity: 0;
  pointer-events: none;
}
.alertify,
.alertify.show {
  box-sizing: border-box;
  transition: all 0.33s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.alertify,
.alertify * {
  box-sizing: border-box;
}
.alertify .dialog {
  padding: 12px;
}
.alertify .dialog,
.alertify .alert {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.alertify .dialog > div,
.alertify .alert > div {
  background-color: #444;
  border-radius: 5px;
}
.alertify .dialog > *,
.alertify .alert > * {
  width: 30%;
  width: 500px;
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
  padding: 12px;
  background: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
}
.alertify .dialog .msg,
.alertify .alert .msg {
  padding: 12px;
  margin-bottom: 12px;
  margin: 0;
  text-align: left;
}
.alertify .dialog input:not(.form-control),
.alertify .alert input:not(.form-control) {
  background-color: #302B28;
  color: #fafafa;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 100%;
  padding: 12px;
}
.alertify .dialog nav,
.alertify .alert nav {
  text-align: right;
}
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button),
.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button) {
  background-color: rgba(200, 200, 200, 0.05);
  box-sizing: border-box;
  position: relative;
  outline: 0;
  border: 0;
  display: inline-block;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: #fafafa;
  border: 1px solid #302B28;
  border-radius: 5px;
}
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):hover,
.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):hover,
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):active,
.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):active {
  background-color: rgba(200, 200, 200, 0.15);
}
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):focus,
.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):focus {
  border: 1px dotted #302B28;
}
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button)::-moz-focus-inner,
.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button)::-moz-focus-inner {
  border: 0;
}
.alertify .dialog nav button.btn,
.alertify .alert nav button.btn {
  margin: 6px 4px;
}
.alertify-logs {
  position: fixed;
  z-index: 99999;
}
.alertify-logs.bottom,
.alertify-logs:not(.top) {
  bottom: 16px;
}
.alertify-logs.left,
.alertify-logs:not(.right) {
  left: 16px;
}
.alertify-logs.left > *,
.alertify-logs:not(.right) > * {
  float: left;
  transform: translate3d(0, 0, 0);
  height: auto;
}
.alertify-logs.left > *.show,
.alertify-logs:not(.right) > *.show {
  left: 0;
}
.alertify-logs.left > *,
.alertify-logs:not(.right) > *,
.alertify-logs.left > *.hide,
.alertify-logs:not(.right) > *.hide {
  left: -110%;
}
.alertify-logs.right {
  right: 16px;
}
.alertify-logs.right > * {
  float: right;
  transform: translate3d(0, 0, 0);
}
.alertify-logs.right > *.show {
  right: 0;
  opacity: 1;
}
.alertify-logs.right > *,
.alertify-logs.right > *.hide {
  right: -110%;
  opacity: 0;
}
.alertify-logs.top {
  top: 0;
}
.alertify-logs > * {
  box-sizing: border-box;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  clear: both;
  backface-visibility: hidden;
  perspective: 1000;
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alertify-logs > *.show {
  margin-top: 12px;
  opacity: 1;
  max-height: 1000px;
  padding: 12px;
  pointer-events: auto;
}
/* Bottom Bar */
.top-bar,
.bottom-bar {
  position: fixed;
  height: 4%;
  height: 2.5em;
  display: inline-block;
  width: 100%;
  background: #fff;
  border-top: 1px solid #444;
}
.top-bar a,
.bottom-bar a {
  color: #46E981;
  text-decoration: none;
}
.top-bar p,
.bottom-bar p {
  margin: -1px;
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 20px;
  display: block;
  margin-left: 10px;
  padding-top: 3px;
  color: #555;
}
.top-bar img,
.bottom-bar img {
  margin-right: 4px;
  position: relative;
}
@media screen and (max-width: 800px) {
  .top-bar .big,
  .bottom-bar .big {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  .top-bar .big,
  .bottom-bar .big {
    display: inline-block;
  }
}
@media screen and (max-width: 800px) {
  .top-bar .small,
  .bottom-bar .small {
    display: inline-block;
  }
}
@media screen and (min-width: 801px) {
  .top-bar .small,
  .bottom-bar .small {
    display: none;
  }
}
.top-bar .small img,
.bottom-bar .small img {
  height: 1.25em;
}
.bottom-bar {
  bottom: 0px;
  right: 0px;
}
.top-bar {
  top: 0px;
  right: 0px;
}
.bottom-bar-left {
  display: block;
  float: left;
  padding-left: 10px;
}
.bottom-bar-left p {
  float: right;
}
.bottom-bar-right {
  display: block;
  float: right;
  padding-right: 20px;
}
.bottom-bar-center {
  width: 20%;
  position: absolute;
  left: 40%;
  text-align: center;
}
.bottom-bar-heart {
  top: 2px;
}
.bottom-bar-xwiki {
  top: 3px;
}
.bottom-bar-openpaas {
  top: 3px;
  max-width: 100px;
}
.cp #loading {
  position: fixed;
  z-index: 9999;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #302B28;
  color: #fafafa;
  text-align: center;
  font-size: 1.5em;
}
.cp #loading .loadingContainer {
  margin-top: 50vh;
  transform: translateY(-50%);
}
.cp #loading .cryptofist {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-height: 450px) {
  .cp #loading .cryptofist {
    display: none;
  }
}
.cp #loading .spinnerContainer {
  position: relative;
  height: 100px;
}
.cp #loading .spinnerContainer > div {
  height: 100px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown-bar {
  position: relative;
  display: inline-block;
}
.dropdown-bar .fa {
  font-family: FontAwesome;
}
.dropdown-bar button .fa-caret-down {
  margin-left: 5px;
}
.dropdown-bar .dropdown-bar-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}
.dropdown-bar .dropdown-bar-content.left {
  right: 0;
}
.dropdown-bar .dropdown-bar-content:hover {
  display: block;
}
.dropdown-bar .dropdown-bar-content a {
  color: black !important;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: none;
  text-align: left;
}
.dropdown-bar .dropdown-bar-content a:hover {
  background-color: #f1f1f1;
  color: black !important;
}
.dropdown-bar .dropdown-bar-content hr {
  margin: 5px 0px;
  height: 1px;
  background: #bbb;
}
.dropdown-bar .dropdown-bar-content p {
  min-width: 160px;
  padding: 5px;
  margin: 0;
  white-space: normal;
  text-align: left;
}
.dropdown-bar .dropdown-bar-content p.cryptpad-dropdown-users {
  text-align: baseline;
}
.dropdown-bar .dropdown-bar-content p.cryptpad-dropdown-users .yourself,
.dropdown-bar .dropdown-bar-content p.cryptpad-dropdown-users .anonymous,
.dropdown-bar .dropdown-bar-content p.cryptpad-dropdown-users .viewer {
  font-style: italic;
}
.dropdown-bar .dropdown-bar-content p h2 {
  font-weight: bold;
  text-align: center;
  background-color: #EEEEEE;
  padding: 5px 0px;
  margin: 5px 0px;
  font-size: 16px;
  white-space: normal;
}
#cryptpadTopBar {
  background: #fff;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: #000;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px;
  box-sizing: border-box;
  font-size: 30px;
  border-bottom: 1px solid #d9d9d9;
}
#cryptpadTopBar > span {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
#cryptpadTopBar .cryptpad-logo {
  height: 40px;
  vertical-align: middle;
}
#cryptpadTopBar .slogan {
  font-size: 20px;
  color: #000;
  line-height: 40px;
}
#cryptpadTopBar .gotoMain {
  color: #000;
  height: 40px;
  line-height: 40px;
}
#cryptpadTopBar .gotoMain:hover {
  text-decoration: none;
  color: #558;
}
#cryptpadTopBar .right {
  float: right;
  font-size: 20px;
  margin: 0px 10px;
  line-height: 40px;
}
#cryptpadTopBar .right button .buttonTitle .fa-user {
  margin-right: 5px;
}
#cryptpadTopBar .right a {
  font-weight: 500;
  font-size: 0.75em;
  color: #41b7d8;
}
#cryptpadTopBar .right a:hover {
  color: #279ebf;
  text-decoration: underline;
}
#cryptpadTopBar .right a:visited {
  color: #41b7d8;
}
@media screen and (max-width: 800px) {
  #cryptpadTopBar .right.link {
    display: none;
  }
}
.cp footer {
  background: #f4f4f4;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding-top: 1em;
  font-size: 1.2em;
}
.cp footer a {
  color: #41b7d8;
}
.cp footer a:visited {
  color: #41b7d8;
}
.cp footer a:hover {
  color: #279ebf;
}
.cp footer li.title {
  font-size: 1.2em;
  font-weight: bold;
}
html.cp,
.cp body {
  font-size: .875em;
  background-color: #fafafa;
  color: #555;
  font-family: Georgia,Cambria,serif;
  height: 100%;
}
.cp {
  /* buttons */
  /*  Tables
 *  Currently only used by /poll/
 */
}
.cp .btn-primary {
  background-color: #00ADEE;
}
.cp body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0;
}
.cp a.github-corner > svg {
  fill: #00ADEE;
  color: #302B28;
}
.cp .lato {
  font-family: lato, Helvetica, sans-serif;
  font-size: 1.02em;
}
.cp h1,
.cp h2,
.cp h3,
.cp h4,
.cp h5,
.cp h6 {
  color: #555;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-style: normal;
  font-weight: 600;
  margin-top: 0;
}
.cp h1 {
  line-height: 3rem;
  font-size: 2.05714rem;
  margin-bottom: .21999rem;
  padding-top: .78001rem;
}
.cp h2 {
  font-size: 1.95312rem;
  margin-bottom: .18358rem;
  padding-top: .81642rem;
}
.cp h2,
.cp h3 {
  line-height: 3rem;
}
.cp h3 {
  font-size: 1.64571rem;
  margin-bottom: .07599rem;
  padding-top: .92401rem;
}
.cp h4 {
  font-size: 1.5625rem;
  margin-bottom: .54686rem;
  padding-top: .45314rem;
}
.cp h5 {
  font-size: 1.25rem;
  margin-bottom: -0.56251rem;
  padding-top: .56251rem;
}
.cp h6 {
  font-size: 1rem;
  margin-bottom: -0.65001rem;
  padding-top: .65001rem;
}
.cp a {
  cursor: pointer;
  color: #41b7d8;
  text-decoration: none;
}
.cp a:hover {
  color: #279ebf;
}
.cp a:visited {
  color: #41b7d8;
}
.cp img {
  height: auto;
  max-width: 100%;
}
.cp p {
  padding-top: .66001rem;
  margin-top: 0;
}
.cp p,
.cp pre {
  margin-bottom: 1.33999rem;
}
.cp p,
.cp pre,
.cp td,
.cp a,
.cp table,
.cp tr {
  font-family: lato, Helvetica, sans-serif;
  font-size: 1.02em;
}
.cp body.html {
  display: flex;
  flex-flow: column;
}
.cp .page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fafafa;
  padding: 10px 0;
  position: relative;
}
.cp .page .info-container {
  color: #121212;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}
.cp .page .info-container > div {
  padding: 10px;
  width: 400px;
  max-width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .cp .page .info-container > div:not(.image) {
    width: 100%;
    left: 0;
  }
}
.cp .page .info-container > div.image {
  width: 300px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .cp .page .info-container > div.image {
    display: none;
  }
}
@media screen and (max-width: 800px) {
}
.cp .page.category {
  background: #f4f4f4;
}
.cp .page .app {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
  margin: 0px 25px;
  white-space: normal;
  max-width: calc(50% - 50px);
}
@media screen and (max-width: 500px) {
  .cp .page .app {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
.cp .page .app-container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}
.cp .page .app-row {
  display: inline-block;
  white-space: nowrap;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1399px) {
  .cp .page .app-row {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .cp .page .app-row img {
    display: none;
  }
}
.cp .page .right {
  left: 100px;
}
.cp .page h1,
.cp .page h2,
.cp .page h3,
.cp .page h4,
.cp .page h5,
.cp .page h6 {
  padding: 0;
}
@media screen and (max-width: 800px) {
  .cp .page {
    padding: 10px 5vh;
  }
}
.cp .page p {
  font-size: 18px;
}
.cp .btn-default:hover {
  background-color: #d8d8d8;
}
.cp #main .mainOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.35;
}
.cp #noscriptContainer {
  color: black;
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
}
.cp #noscriptContainer #noscript {
  width: 1000px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.cp #noscriptContainer #noscript noscript {
  font-size: 25px;
  width: 1000px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
  transform: translateY(-50%);
}
.cp #main {
  background: url('/customize/bg3.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: calc(100vh - 115px);
  min-height: 450px;
}
.cp #main .hidden {
  display: none !important;
}
.cp #main_other {
  padding: 0 15vw;
  background-color: #fafafa;
}
.cp .category {
  margin-top: 5px;
}
.cp #mainBlock {
  flex: 1;
}
.cp #main,
.cp #main_other {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  font-size: medium;
}
.cp #main #align-container,
.cp #main_other #align-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 1000px;
  max-width: 90%;
}
.cp #main #main-container,
.cp #main_other #main-container {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
.cp #main #data,
.cp #main_other #data {
  width: 600px;
  max-width: 60%;
  color: #fff;
  padding: 0 15px;
  box-sizing: border-box;
  display: inline-block;
}
.cp #main #data p,
.cp #main_other #data p {
  margin: 0;
  padding: 0;
  font-size: 28px;
  line-height: 1.5em;
}
.cp #main #data p.register-explanation,
.cp #main_other #data p.register-explanation {
  font-size: 18px;
}
.cp #main #data h1,
.cp #main_other #data h1,
.cp #main #data h2,
.cp #main_other #data h2 {
  font-weight: normal;
  font-size: 48px;
  line-height: 1.2em;
  color: #fff;
  padding: 0;
}
.cp #main #data h5,
.cp #main_other #data h5 {
  font-size: 1em;
  color: #fff;
}
.cp #main #data #tryit,
.cp #main_other #data #tryit {
  margin-top: 20px;
  margin-bottom: 5px;
}
.cp #main #loggedIn,
.cp #main_other #loggedIn {
  float: right;
  color: #fff;
  display: inline-block;
  width: 350px;
  max-width: 35%;
  text-align: center;
  font-weight: bold;
}
.cp #main #loggedIn button,
.cp #main_other #loggedIn button {
  font-weight: bold;
  cursor: pointer;
}
.cp #main #loggedIn p,
.cp #main_other #loggedIn p {
  margin: 20px;
  padding: 0;
  font-size: 20px;
  line-height: 1.5em;
}
.cp #main #userForm,
.cp #main_other #userForm {
  float: right;
  display: inline-block;
  width: 400px;
  max-width: 40%;
  padding: 10px;
  box-sizing: border-box;
  font-family: lato, Helvetica, sans-serif;
  color: #fff;
}
.cp #main #userForm label,
.cp #main_other #userForm label {
  margin-bottom: 0;
}
.cp #main #userForm button,
.cp #main_other #userForm button {
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}
.cp #main #userForm button.half,
.cp #main_other #userForm button.half {
  width: calc(50% - 2px);
}
.cp #main #userForm button.half:not(.first),
.cp #main_other #userForm button.half:not(.first) {
  float: right;
}
.cp #main #userForm p,
.cp #main_other #userForm p {
  margin: 0;
  padding: 0;
}
.cp #main #userForm p.buttons,
.cp #main_other #userForm p.buttons {
  margin-bottom: 10px;
}
.cp #main #userForm p.buttons .dropdown-bar,
.cp #main_other #userForm p.buttons .dropdown-bar {
  display: block;
}
.cp #main #userForm p.buttons .dropdown-bar button,
.cp #main_other #userForm p.buttons .dropdown-bar button {
  white-space: normal;
  text-align: left;
}
.cp #main #userForm p.buttons .dropdown-bar button .fa,
.cp #main_other #userForm p.buttons .dropdown-bar button .fa {
  float: right;
}
.cp #main #userForm p.buttons .dropdown-bar a,
.cp #main_other #userForm p.buttons .dropdown-bar a {
  color: black;
}
.cp #main #userForm p.buttons .dropdown-bar a:hover,
.cp #main_other #userForm p.buttons .dropdown-bar a:hover,
.cp #main #userForm p.buttons .dropdown-bar a :visited,
.cp #main_other #userForm p.buttons .dropdown-bar a :visited {
  color: black !important;
}
.cp #main #userForm p.separator,
.cp #main_other #userForm p.separator {
  margin: 5px 0 15px 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
.cp #main #userForm p a,
.cp #main_other #userForm p a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
.cp #main #userForm p a:hover,
.cp #main_other #userForm p a:hover,
.cp #main #userForm p a :visited,
.cp #main_other #userForm p a :visited {
  color: #fff !important;
}
.cp #main #userForm .driveLink,
.cp #main_other #userForm .driveLink {
  padding-left: 1rem;
  font-size: 1em;
}
.cp #main #userForm > *,
.cp #main_other #userForm > * {
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  .cp #main,
  .cp #main_other {
    position: relative;
    height: auto;
  }
  .cp #main #align-container,
  .cp #main_other #align-container {
    transform: initial;
    position: relative;
    display: block;
    width: 90%;
    left: 0;
  }
  .cp #main #main-container,
  .cp #main_other #main-container {
    position: relative;
    transform: unset;
    top: 0;
  }
  .cp #main #data,
  .cp #main_other #data {
    text-align: center;
  }
  .cp #main #userForm,
  .cp #main_other #userForm,
  .cp #main #loggedIn,
  .cp #main_other #loggedIn,
  .cp #main #data,
  .cp #main_other #data {
    transform: initial;
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    float: none;
  }
}
.cp #main .buttons,
.cp #main_other .buttons {
  margin-top: 15px;
}
.cp #fileManagerIframe {
  width: 100%;
  height: 500px;
  margin-top: 15px;
}
.cp .create,
.cp .action {
  display: inline-block;
  border: 0;
  background-color: #3333ff;
  color: #fff;
  font-weight: bold;
  font-size: large;
  margin-right: 5px;
  margin-left: 5px;
}
.cp .create:hover,
.cp .action:hover {
  color: #cccccc;
}
.cp .panel {
  background-color: #cccccc;
}
.cp table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px;
}
.cp tbody {
  border: 1px solid #555;
}
.cp tbody tr {
  text-align: center;
}
.cp tbody tr:first-of-type th {
  font-size: 20px;
  border-top: 0px;
  font-weight: bold;
  padding: 10px;
  text-decoration: underline;
}
.cp tbody tr:first-of-type th.table-refresh {
  color: #46E981;
  text-decoration: none;
  cursor: pointer;
}
.cp tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.cp tbody tr th:first-of-type {
  border-left: 0px;
}
.cp tbody tr th {
  box-sizing: border-box;
  border: 1px solid #555;
}
.cp tbody tr th,
.cp tbody tr td {
  color: #555;
}
.cp tbody tr th.remove,
.cp tbody tr td.remove {
  cursor: pointer;
}
.cp tbody tr th:last-child {
  border-right: 0px;
}
.cp tbody td {
  border-right: 1px solid #555;
  padding: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cp tbody td:last-child {
  border-right: none;
}
.cp .bottom-left {
  border-bottom-left-radius: 5px;
}
.cp .top-left {
  border-top-left-radius: 5px;
}
.cp .remove {
  color: #FA5858;
  cursor: pointer !important;
}
.cp form.realtime,
.cp div.realtime {
  padding: 0px;
  margin: 0px;
}
.cp form.realtime > textarea,
.cp div.realtime > textarea {
  width: 50%;
  height: 15vh;
}
.cp form.realtime table,
.cp div.realtime table {
  border-collapse: collapse;
  width: calc(100% - 1px);
}
.cp form.realtime table tr td:first-child,
.cp div.realtime table tr td:first-child {
  position: absolute;
  left: 29px;
  top: auto;
  width: calc(30% - 50px);
}
.cp form.realtime table tr td,
.cp div.realtime table tr td {
  padding: 0px;
  margin: 0px;
}
.cp form.realtime table tr td div.text-cell,
.cp div.realtime table tr td div.text-cell {
  padding: 0px;
  margin: 0px;
  height: 100%;
}
.cp form.realtime table tr td div.text-cell input,
.cp div.realtime table tr td div.text-cell input {
  width: 80%;
  width: 90%;
  height: 100%;
  border: 0px;
}
.cp form.realtime table tr td div.text-cell input[disabled],
.cp div.realtime table tr td div.text-cell input[disabled] {
  background-color: transparent;
  color: #000;
  font-weight: bold;
}
.cp form.realtime table tr td.checkbox-cell,
.cp div.realtime table tr td.checkbox-cell {
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-width: 150px;
}
.cp form.realtime table tr td.checkbox-cell div.checkbox-contain,
.cp div.realtime table tr td.checkbox-cell div.checkbox-contain {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
}
.cp form.realtime table tr td.checkbox-cell div.checkbox-contain label,
.cp div.realtime table tr td.checkbox-cell div.checkbox-contain label {
  background-color: transparent;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.cp form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable),
.cp div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) {
  display: none;
}
.cp form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover,
.cp div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover {
  font-weight: bold;
  background-color: #FA5858;
  color: #000;
  display: block;
}
.cp form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover:after,
.cp div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover:after {
  height: 100%;
}
.cp form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover:after,
.cp div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover:after {
  content: "✖";
}
.cp form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.yes,
.cp div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.yes {
  background-color: #46E981;
}
.cp form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.yes:after,
.cp div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.yes:after {
  content: "✔";
}
.cp form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.uncommitted,
.cp div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.uncommitted {
  background: #ddd;
}
.cp form.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.mine,
.cp div.realtime table tr td.checkbox-cell div.checkbox-contain input[type="checkbox"]:not(.editable) ~ .cover.mine {
  display: none;
}
.cp form.realtime table input[type="text"],
.cp div.realtime table input[type="text"] {
  height: auto;
  border: 1px solid #fff;
  width: 80%;
}
.cp form.realtime table thead td,
.cp div.realtime table thead td {
  padding: 0px 5px;
  background: #aaa;
  border-radius: 20px 20px 0 0;
  text-align: center;
}
.cp form.realtime table thead td input[type="text"],
.cp div.realtime table thead td input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}
.cp form.realtime table thead td input[type="text"][disabled],
.cp div.realtime table thead td input[type="text"][disabled] {
  color: #000;
  padding: 1px 5px;
  border: none;
}
.cp form.realtime table tbody .text-cell,
.cp div.realtime table tbody .text-cell {
  background: #aaa;
}
.cp form.realtime table tbody .text-cell input[type="text"],
.cp div.realtime table tbody .text-cell input[type="text"] {
  width: calc(100% - 50px);
}
.cp form.realtime table tbody .text-cell .edit,
.cp div.realtime table tbody .text-cell .edit {
  float: right;
  margin: 0 10px 0 0;
}
.cp form.realtime table tbody .text-cell .remove,
.cp div.realtime table tbody .text-cell .remove {
  float: left;
  margin: 0 0 0 10px;
}
.cp form.realtime table tbody td label,
.cp div.realtime table tbody td label {
  border: 0.5px solid #555;
}
.cp form.realtime table .edit,
.cp div.realtime table .edit {
  color: #46E981;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  /*&:after { content: '✐'; }*/
  /*&.editable { display: none; }*/
}
.cp form.realtime table .remove,
.cp div.realtime table .remove {
  float: right;
  margin-right: 10px;
}
.cp form.realtime table thead tr th input[type="text"][disabled],
.cp div.realtime table thead tr th input[type="text"][disabled] {
  background-color: transparent;
  color: #555;
  font-weight: bold;
}
.cp form.realtime table thead tr th .remove,
.cp div.realtime table thead tr th .remove {
  cursor: pointer;
  font-size: 20px;
}
.cp form.realtime table tfoot tr,
.cp div.realtime table tfoot tr {
  border: none;
}
.cp form.realtime table tfoot tr td,
.cp div.realtime table tfoot tr td {
  border: none;
  text-align: center;
}
.cp form.realtime table tfoot tr td .save,
.cp div.realtime table tfoot tr td .save {
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cp form.realtime #adduser,
.cp div.realtime #adduser,
.cp form.realtime #addoption,
.cp div.realtime #addoption {
  color: #46E981;
  border: 1px solid #46E981;
  padding: 15px;
  cursor: pointer;
}
.cp form.realtime #adduser,
.cp div.realtime #adduser {
  border-top-left-radius: 5px;
}
.cp form.realtime #addoption,
.cp div.realtime #addoption {
  border-bottom-left-radius: 5px;
}
.cp.slide #modal .button {
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  opacity: 0.6;
  display: none;
}
.cp.slide #modal .button:hover {
  opacity: 1;
  display: block !important;
}
.cp.slide #modal #button_exit {
  left: 20px;
  top: 20px;
}
.cp.slide #modal #button_left {
  left: 6vw;
  bottom: 10vh;
}
.cp.slide #modal #button_right {
  right: 6vw;
  bottom: 10vh;
}
.cp.slide #modal #content p,
.cp.slide #modal #content ul,
.cp.slide #modal #content ol {
  font-size: 26px;
}
.cp.slide #modal #content img {
  position: relative;
  min-width: 1%;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  border: 5px solid red;
}
.cp div.modal,
.cp div#modal {
  box-sizing: border-box;
  z-index: 9001;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: #000;
}
.cp div.modal #content,
.cp div#modal #content {
  box-sizing: border-box;
  border: 1px solid white;
  vertical-align: middle;
  padding: 2.5vw;
  /* center things as much as possible

            margin-top: 50vh;
            margin-bottom: 50vh;
            transform: translateY(-50%);

        */
  width: 100vw;
  height: 56.25vw;
  max-height: 100vh;
  max-width: 177.78vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cp div.modal #content p,
.cp div#modal #content p,
.cp div.modal #content li,
.cp div#modal #content li,
.cp div.modal #content pre,
.cp div#modal #content pre,
.cp div.modal #content code,
.cp div#modal #content code {
  font-size: 2.75vw;
  line-height: 3.025vw;
}
.cp div.modal #content h1,
.cp div#modal #content h1 {
  font-size: 5vw;
  line-height: 5.5vw;
}
.cp div.modal #content h2,
.cp div#modal #content h2 {
  font-size: 4.2vw;
  line-height: 4.62vw;
}
.cp div.modal #content h3,
.cp div#modal #content h3 {
  font-size: 3.6vw;
  line-height: 3.96vw;
}
.cp div.modal #content h4,
.cp div#modal #content h4 {
  font-size: 3vw;
  line-height: 3.3vw;
}
.cp div.modal #content h5,
.cp div#modal #content h5 {
  font-size: 2.2vw;
  line-height: 2.42vw;
}
.cp div.modal #content h6,
.cp div#modal #content h6 {
  font-size: 1.6vw;
  line-height: 1.76vw;
}
.cp div.modal #content h1,
.cp div#modal #content h1,
.cp div.modal #content h2,
.cp div#modal #content h2,
.cp div.modal #content h3,
.cp div#modal #content h3,
.cp div.modal #content h4,
.cp div#modal #content h4,
.cp div.modal #content h5,
.cp div#modal #content h5,
.cp div.modal #content h6,
.cp div#modal #content h6 {
  color: inherit;
}
.cp div.modal #content pre > code,
.cp div#modal #content pre > code {
  display: block;
  position: relative;
  border: 1px solid #333;
  width: 90%;
  margin: auto;
  padding-left: .25vw;
}
.cp div.modal #content ul,
.cp div#modal #content ul,
.cp div.modal #content ol,
.cp div#modal #content ol {
  min-width: 50%;
  max-width: 100%;
  display: table;
  margin: 0 auto;
}
.cp div.modal .center,
.cp div#modal .center {
  position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
  border: 1px solid #ffffff;
  text-align: center;
}
.cp div.modal.shown,
.cp div#modal.shown {
  display: block;
}
.cp div.modal table,
.cp div#modal table {
  margin: 30px;
  border-collapse: collapse;
}
.cp div.modal table input,
.cp div#modal table input {
  height: 100%;
  width: 90%;
  border: 3px solid #fff;
}
.cp div.modal table tfoot tr td,
.cp div#modal table tfoot tr td {
  z-index: 4000;
  cursor: pointer;
}
.cp div.modal #addtime,
.cp div#modal #addtime,
.cp div.modal #adddate,
.cp div#modal #adddate {
  color: #46E981;
  border: 1px solid #46E981;
  padding: 15px;
}
.cp div.modal #adddate,
.cp div#modal #adddate {
  border-top-left-radius: 5px;
}
.cp div.modal #addtime,
.cp div#modal #addtime {
  border-bottom-left-radius: 5px;
}
#cors-store {
  display: none;
}
