.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cryptpad-toolbar {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #666;
  font-weight: bold;
  height: 30px;
  margin-bottom: -3px;
  display: inline-block;
  width: 100%;
  z-index: 9001;
}
.cryptpad-toolbar a {
  float: right;
}
.cryptpad-toolbar div {
  padding: 0 3px;
  height: 1.5em;
  line-height: 25px;
  height: 100%;
}
.cryptpad-toolbar div.cryptpad-back {
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
.cryptpad-toolbar button {
  height: 26px;
  background-color: inherit;
  background-image: linear-gradient(to bottom, #fff, #e4e4e4);
  border: 1px solid #A6A6A6;
  border-bottom-color: #979797;
  border-radius: 3px;
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px;
}
.cryptpad-toolbar button:hover {
  background-image: linear-gradient(to bottom, #f2f2f2, #ccc);
}
.cryptpad-toolbar .rightside-button {
  float: right;
  cursor: pointer;
}
.cryptpad-toolbar .leftside-button {
  cursor: pointer;
  float: left;
}
.cryptpad-toolbar select {
  border: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
}
.cryptpad-toolbar-leftside {
  float: left;
}
.cryptpad-toolbar-leftside div {
  float: left;
}
.cryptpad-toolbar-rightside {
  text-align: right;
}
.cryptpad-lag {
  float: right;
}
.cryptpad-spinner {
  float: left;
}
.cryptpad-readonly {
  margin-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.cryptpad-toolbar-username {
  font-style: italic;
}
.lag {
  display: inline-block;
  vertical-align: middle;
  padding: 0 !important;
  margin: 0 !important;
  height: 15px !important;
  width: 15px !important;
  border-radius: 50%;
  border: 1px solid #444;
}
.lag-green {
  background-color: #46E981;
}
.lag-red {
  background-color: #FF0073;
}
.lag-orange {
  background-color: #FE9A2E;
}
