/* The container <div> - needed to position the dropdown content */
.dropdown-bar {
  position: relative;
  display: inline-block;
}
.dropdown-bar .fa {
  font-family: FontAwesome;
}
.dropdown-bar button .fa-caret-down {
  margin-right: 0px;
  margin-left: 5px;
}
.dropdown-bar .dropdown-bar-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}
.dropdown-bar .dropdown-bar-content.left {
  right: 0;
}
.dropdown-bar .dropdown-bar-content:hover {
  display: block;
}
.dropdown-bar .dropdown-bar-content a {
  color: black !important;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: none;
  text-align: left;
}
.dropdown-bar .dropdown-bar-content a:hover {
  background-color: #f1f1f1;
  color: black !important;
}
.dropdown-bar .dropdown-bar-content a.active {
  background-color: #e8e8e8;
  color: black !important;
}
.dropdown-bar .dropdown-bar-content hr {
  margin: 5px 0px;
  height: 1px;
  background: #bbb;
}
.dropdown-bar .dropdown-bar-content p {
  min-width: 160px;
  padding: 5px;
  margin: 0;
  white-space: normal;
  text-align: left;
}
.dropdown-bar .dropdown-bar-content p.cryptpad-dropdown-users {
  text-align: baseline;
}
.dropdown-bar .dropdown-bar-content p.cryptpad-dropdown-users .yourself,
.dropdown-bar .dropdown-bar-content p.cryptpad-dropdown-users .anonymous,
.dropdown-bar .dropdown-bar-content p.cryptpad-dropdown-users .viewer {
  font-style: italic;
}
.dropdown-bar .dropdown-bar-content p h2 {
  font-weight: bold;
  text-align: center;
  background-color: #EEEEEE;
  padding: 5px 0px;
  margin: 5px 0px;
  font-size: 16px;
  white-space: normal;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.toolbar-container {
  font: 12px Arial, Helvetica, Tahoma, Verdana, sans-serif;
  background: -webkit-linear-gradient(#f5f5f5, #DDDDDD);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f5f5f5, #DDDDDD);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f5f5f5, #DDDDDD);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f5f5f5, #DDDDDD);
  /* Standard syntax */
}
.toolbar-container .cryptpad-toolbar select {
  box-sizing: border-box;
}
.cryptpad-toolbar {
  box-sizing: border-box;
  padding: 0px 6px;
  background-color: #FF0073;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: normal normal normal 12px Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
  color: #000;
  width: 100%;
  z-index: 9001;
}
.cryptpad-toolbar .fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-family: FontAwesome;
}
.cryptpad-toolbar a {
  float: right;
}
.cryptpad-toolbar button {
  font: 12px Ubuntu, Arial, sans-serif;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #000;
  background-color: #fff;
  border-color: #ccc;
}
.cryptpad-toolbar button * {
  font: 12px Ubuntu, Arial, sans-serif;
}
.cryptpad-toolbar button#shareButton,
.cryptpad-toolbar button.buttonSuccess {
  color: #fff;
  background: #5cb85c;
  border-color: #5cb85c;
}
.cryptpad-toolbar button#shareButton:hover,
.cryptpad-toolbar button.buttonSuccess:hover {
  color: #fff;
  background: #449d44;
  border: 1px solid #419641;
}
.cryptpad-toolbar button#shareButton span,
.cryptpad-toolbar button.buttonSuccess span {
  color: #fff;
}
.cryptpad-toolbar button#shareButton .large,
.cryptpad-toolbar button.buttonSuccess .large {
  margin-left: 5px;
}
.cryptpad-toolbar button#newdoc,
.cryptpad-toolbar button.buttonPrimary {
  color: #fff;
  background: #0275d8;
  border-color: #0275d8;
}
.cryptpad-toolbar button#newdoc:hover,
.cryptpad-toolbar button.buttonPrimary:hover {
  color: #fff;
  background: #025aa5;
  border: 1px solid #01549b;
}
.cryptpad-toolbar button#newdoc span,
.cryptpad-toolbar button.buttonPrimary span {
  color: #fff;
}
.cryptpad-toolbar button#newdoc .large,
.cryptpad-toolbar button.buttonPrimary .large {
  margin-left: 5px;
}
.cryptpad-toolbar button.hidden {
  display: none;
}
.cryptpad-toolbar button:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.cryptpad-toolbar button.upgrade {
  font-size: 14px;
  vertical-align: top;
  margin-left: 10px;
}
.cryptpad-toolbar .cryptpad-limit {
  box-sizing: border-box;
  height: 26px;
  width: 26px;
  display: inline-block;
  padding: 3px;
  margin: 0px;
  margin-right: 3px;
  vertical-align: middle;
}
.cryptpad-toolbar .cryptpad-limit span {
  color: red;
  cursor: pointer;
  margin: auto;
  font-size: 20px;
}
.cryptpad-toolbar .cryptpad-lag {
  height: 20px;
  width: 23px;
  background: transparent;
  display: inline-block;
  padding: 3px;
  margin: 3px;
  vertical-align: top;
  box-sizing: content-box;
  text-align: center;
}
.cryptpad-toolbar .cryptpad-lag span {
  display: inline-block;
  width: 4px;
  margin: 0;
  margin-right: 1px;
  background: black;
  vertical-align: bottom;
  box-sizing: border-box;
  border: 1px solid black;
  transition: background 1s, border 1s;
}
.cryptpad-toolbar .cryptpad-lag span:last-child {
  margin-right: 0;
}
.cryptpad-toolbar .cryptpad-lag span.bar1 {
  height: 5px;
}
.cryptpad-toolbar .cryptpad-lag span.bar2 {
  height: 10px;
}
.cryptpad-toolbar .cryptpad-lag span.bar3 {
  height: 15px;
}
.cryptpad-toolbar .cryptpad-lag span.bar4 {
  height: 20px;
}
.cryptpad-toolbar .cryptpad-lag.lag0 span {
  background: transparent;
  border-color: red;
}
.cryptpad-toolbar .cryptpad-lag.lag1 .bar2,
.cryptpad-toolbar .cryptpad-lag.lag1 .bar3,
.cryptpad-toolbar .cryptpad-lag.lag1 .bar4 {
  background: transparent;
}
.cryptpad-toolbar .cryptpad-lag.lag1 span {
  background-color: orange;
  border-color: orange;
}
.cryptpad-toolbar .cryptpad-lag.lag2 .bar3,
.cryptpad-toolbar .cryptpad-lag.lag2 .bar4 {
  background: transparent;
}
.cryptpad-toolbar .cryptpad-lag.lag2 span {
  background-color: orange;
  border-color: orange;
}
.cryptpad-toolbar .cryptpad-lag.lag3 .bar4 {
  background: transparent;
}
.cryptpad-toolbar .cryptpad-lag.lag3 span {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.cryptpad-toolbar .cryptpad-lag.lag4 span {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.cryptpad-toolbar div {
  white-space: normal;
}
.cryptpad-toolbar div.cryptpad-back {
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
.cryptpad-toolbar button,
.cryptpad-toolbar select,
.cryptpad-toolbar .rightside-element {
  height: 26px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 3px 2px;
  box-sizing: border-box;
}
.cryptpad-toolbar .dropdown-bar-content {
  margin-top: -3px;
  margin-right: 2px;
}
.cryptpad-toolbar .cryptpad-state {
  line-height: 32px;
  /* equivalent to 26px + 2*2px margin used for buttons */
}
.cryptpad-toolbar .rightside-button {
  float: right;
  cursor: pointer;
}
.cryptpad-toolbar .leftside-button {
  cursor: pointer;
  float: left;
}
.cryptpad-toolbar .rightside-element {
  vertical-align: middle;
  white-space: nowrap;
}
.cryptpad-toolbar .rightside-element.float {
  float: right;
}
.cryptpad-toolbar select {
  border: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  border: 1px solid #A6A6A6;
  border-bottom-color: #979797;
  vertical-align: top;
  box-sizing: content-box;
}
.cryptpad-toolbar select option {
  height: 24px;
}
@media screen and (max-width: 800px) {
  .cryptpad-toolbar .big {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  .cryptpad-toolbar .big {
    display: inline-block;
  }
}
@media screen and (max-width: 800px) {
  .cryptpad-toolbar .small {
    display: inline-block;
  }
}
@media screen and (min-width: 801px) {
  .cryptpad-toolbar .small {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .cryptpad-toolbar .med-big {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  .cryptpad-toolbar .med-big {
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  .cryptpad-toolbar .med-small {
    display: inline-block;
  }
}
@media screen and (min-width: 601px) {
  .cryptpad-toolbar .med-small {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .cryptpad-toolbar .large {
    display: none;
  }
}
@media screen and (min-width: 401px) {
  .cryptpad-toolbar .large {
    display: inline-block;
  }
}
@media screen and (max-width: 400px) {
  .cryptpad-toolbar .narrow {
    display: inline-block;
  }
}
@media screen and (min-width: 401px) {
  .cryptpad-toolbar .narrow {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .cryptpad-toolbar:not(.notitle) .cryptpad-toolbar-top {
    height: 67px;
  }
}
@media screen and (max-width: 600px) {
  .cryptpad-toolbar:not(.notitle) .cryptpad-toolbar-top .cryptpad-link,
  .cryptpad-toolbar:not(.notitle) .cryptpad-toolbar-top .cryptpad-user {
    top: 35px;
  }
}
@media screen and (min-width: 601px) {
  .cryptpad-toolbar:not(.notitle) .cryptpad-toolbar-top .cryptpad-link,
  .cryptpad-toolbar:not(.notitle) .cryptpad-toolbar-top .cryptpad-user {
    top: 0px;
  }
}
.cryptpad-toolbar-top {
  display: block;
  text-align: center;
  height: 32px;
  position: relative;
}
.cryptpad-toolbar-top .cryptpad-title .title,
.cryptpad-toolbar-top .cryptpad-title .pencilIcon,
.cryptpad-toolbar-top .cryptpad-title .saveIcon {
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 32px;
}
.cryptpad-toolbar-top .cryptpad-title .pencilIcon {
  margin-left: 11px;
}
.cryptpad-toolbar-top .cryptpad-title .pencilIcon:hover {
  color: #999;
  margin-left: 0px;
}
.cryptpad-toolbar-top .cryptpad-title .pencilIcon span {
  cursor: pointer;
}
.cryptpad-toolbar-top .cryptpad-title .saveIcon {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0px 2px 2px 0px;
  background: white;
  padding: 5px;
  display: inline;
  margin-left: -1px;
  border-collapse: collapse;
}
.cryptpad-toolbar-top .cryptpad-title .saveIcon:hover {
  color: #999;
}
.cryptpad-toolbar-top .cryptpad-title .saveIcon span {
  cursor: pointer;
}
.cryptpad-toolbar-top .cryptpad-title:not(input):hover .editable {
  border: 1px solid #888;
  border-radius: 2px 0px 0px 2px;
  background: white;
  padding: 5px;
  border-collapse: collapse;
}
.cryptpad-toolbar-top .cryptpad-title:not(input):hover .pencilIcon {
  cursor: pointer;
  border: 1px solid #888;
  border-radius: 0px 2px 2px 0px;
  background: white;
  padding: 5px;
  display: inline;
  margin-left: -1px;
  border-collapse: collapse;
}
.cryptpad-toolbar-top .cryptpad-title input {
  font-size: 1.5em;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid black;
  background: #fff;
  cursor: auto;
  width: 300px;
  padding: 5px 5px;
}
.cryptpad-toolbar-top .cryptpad-link {
  position: absolute;
  left: 0px;
  height: 32px;
}
.cryptpad-toolbar-top .cryptpad-link a.cryptpad-logo {
  cursor: pointer;
  height: 32px;
  padding: 0px 5px;
  text-decoration: none;
  color: inherit;
}
.cryptpad-toolbar-top .cryptpad-link a.cryptpad-logo:hover span {
  text-decoration: underline;
}
.cryptpad-toolbar-top .cryptpad-link a.cryptpad-logo img {
  vertical-align: middle;
  height: 32px;
  cursor: pointer;
}
.cryptpad-toolbar-top .cryptpad-link a.cryptpad-logo span {
  font-size: 1.5em;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}
.cryptpad-toolbar-top .cryptpad-user {
  position: absolute;
  right: 0;
}
.cryptpad-toolbar-top .cryptpad-user :not(.cryptpad-lag) span {
  vertical-align: top;
}
.cryptpad-toolbar-top .cryptpad-user button span.fa {
  vertical-align: baseline;
}
.cryptpad-toolbar-leftside {
  height: 32px;
  float: left;
  margin-bottom: -1px;
}
.cryptpad-toolbar-leftside .cryptpad-dropdown-users pre {
  /* needed for ckeditor */
  white-space: pre;
  margin: 5px 0px;
}
.cryptpad-toolbar-leftside button {
  margin: 2px 4px 2px 0px;
}
.cryptpad-toolbar-leftside .dropdown-bar-content {
  margin-top: -1px;
}
.cryptpad-toolbar-rightside {
  height: 32px;
  text-align: right;
}
.cryptpad-toolbar-history {
  display: none;
  text-align: center;
}
.cryptpad-toolbar-history .next {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
}
.cryptpad-toolbar-history .previous {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
}
.cryptpad-toolbar-history .goto {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.cryptpad-toolbar-history .goto input {
  width: 75px;
}
.cryptpad-toolbar-history .gotoInput {
  vertical-align: middle;
}
.cke_toolbox .cryptpad-toolbar-history input.gotoInput {
  background: white;
  height: 20px;
  padding: 3px 3px;
  border-radius: 5px;
}
.cryptpad-spinner > span {
  height: 16px;
  width: 16px;
  margin: 8px;
  line-height: 16px;
  font-size: 16px;
  text-align: center;
}
.cryptpad-readonly {
  margin-right: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
.cryptpad-user p.accountData {
  background: #f0f0f0;
}
.cryptpad-user p.accountData > span {
  font-weight: bold;
}
.cryptpad-user p.accountData > span span {
  font-weight: normal;
}
.cryptpad-user .buttonTitle .fa:not(.fa-caret-down) {
  margin-right: 5px;
}
.cryptpad-user .buttonTitle .account-name {
  margin-left: 5px;
}
.cryptpad-dropdown-share a .fa {
  margin-right: 5px;
}
.lag {
  height: 15px !important;
  width: 15px !important;
  border-radius: 50%;
  border: 1px solid #444;
}
.lag-green {
  background-color: #46E981;
}
.lag-red {
  background-color: #FA5858;
}
.lag-orange {
  background-color: #FE9A2E;
}
