.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cryptpad-toolbar {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*color: #666;*/
  /*font-weight: bold;*/
  font: normal normal normal 12px Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
  color: #000;
  display: inline-block;
  width: 100%;
  z-index: 9001;
}
.cryptpad-toolbar a {
  float: right;
}
.cryptpad-toolbar div {
  white-space: normal;
}
.cryptpad-toolbar div.cryptpad-back {
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
.cryptpad-toolbar div.cryptpad-lag {
  float: left;
  line-height: 26px;
  margin: 2px 0px;
}
.cryptpad-toolbar button,
.cryptpad-toolbar select,
.cryptpad-toolbar .rightside-element {
  height: 26px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 2px;
}
.cryptpad-toolbar button {
  background-color: inherit;
  background-image: linear-gradient(to bottom, #fff, #e4e4e4);
  border: 1px solid #A6A6A6;
  border-bottom-color: #979797;
  border-radius: 3px;
}
.cryptpad-toolbar button:hover {
  background-image: linear-gradient(to bottom, #f2f2f2, #ccc);
}
@media screen and (max-width: 800px) {
  .cryptpad-toolbar button.userlist {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  .cryptpad-toolbar button.userlist {
    display: inline-block;
  }
}
@media screen and (max-width: 800px) {
  .cryptpad-toolbar button.userlist.small {
    display: inline-block;
  }
}
@media screen and (min-width: 801px) {
  .cryptpad-toolbar button.userlist.small {
    display: none;
  }
}
.cryptpad-toolbar .cryptpad-state {
  line-height: 30px;
  /* equivalent to 26px + 2*2px margin used for buttons */
}
.cryptpad-toolbar .rightside-button {
  float: right;
  cursor: pointer;
}
.cryptpad-toolbar .leftside-button {
  cursor: pointer;
  float: left;
}
.cryptpad-toolbar .rightside-element {
  vertical-align: middle;
  white-space: nowrap;
}
.cryptpad-toolbar .rightside-element.float {
  float: right;
}
.cryptpad-toolbar select {
  border: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  border: 1px solid #A6A6A6;
  border-bottom-color: #979797;
}
.cryptpad-toolbar-top {
  display: block;
  text-align: center;
  height: 32px;
  position: relative;
}
@media screen and (max-width: 400px) {
  .cryptpad-toolbar-top {
    height: 67px;
  }
}
.cryptpad-toolbar-top .cryptpad-title span {
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 32px;
}
.cryptpad-toolbar-top .cryptpad-title span:hover {
  border: 1px solid #888;
  border-radius: 2px;
  background: white;
  padding: 5px;
}
.cryptpad-toolbar-top .cryptpad-title input {
  font-size: 1.5em;
  vertical-align: middle;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  background: #fff;
  cursor: auto;
  width: 300px;
  padding: 0px 5px;
}
.cryptpad-toolbar-top .cryptpad-link {
  position: absolute;
  left: 0px;
  height: 32px;
}
@media screen and (max-width: 400px) {
  .cryptpad-toolbar-top .cryptpad-link {
    top: 35px;
  }
}
@media screen and (min-width: 401px) {
  .cryptpad-toolbar-top .cryptpad-link {
    top: 0px;
  }
}
.cryptpad-toolbar-top .cryptpad-link a.cryptpad-logo {
  cursor: pointer;
  height: 32px;
  padding: 0px 5px;
  text-decoration: none;
  color: inherit;
}
.cryptpad-toolbar-top .cryptpad-link a.cryptpad-logo:hover span {
  text-decoration: underline;
}
.cryptpad-toolbar-top .cryptpad-link a.cryptpad-logo img {
  vertical-align: middle;
  height: 32px;
  cursor: pointer;
}
.cryptpad-toolbar-top .cryptpad-link a.cryptpad-logo span {
  font-size: 1.5em;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .cryptpad-toolbar-top .cryptpad-link .big {
    display: none;
  }
}
@media screen and (min-width: 401px) {
  .cryptpad-toolbar-top .cryptpad-link .big {
    display: inline-block;
  }
}
@media screen and (max-width: 400px) {
  .cryptpad-toolbar-top .cryptpad-link .small {
    display: inline-block;
  }
}
@media screen and (min-width: 401px) {
  .cryptpad-toolbar-top .cryptpad-link .small {
    display: none;
  }
}
.cryptpad-toolbar-top .cryptpad-user {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 400px) {
  .cryptpad-toolbar-top .cryptpad-user {
    top: 3em;
  }
}
@media screen and (min-width: 401px) {
  .cryptpad-toolbar-top .cryptpad-user {
    top: 0px;
  }
}
.cryptpad-toolbar-leftside {
  float: left;
  margin-bottom: -1px;
}
.cryptpad-toolbar-leftside .cryptpad-user-list {
  float: right;
}
.cryptpad-toolbar-leftside .cryptpad-dropdown-container {
  position: relative;
  display: inline-block;
  padding: 0px;
}
.cryptpad-toolbar-leftside .cryptpad-dropdown-container .cryptpad-dropdown {
  z-index: 1000;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 5px;
  white-space: normal;
}
.cryptpad-toolbar-leftside .cryptpad-dropdown-container .cryptpad-dropdown p {
  width: 210px;
  padding: 0;
  margin: 0;
  white-space: normal;
}
.cryptpad-toolbar-leftside .cryptpad-dropdown-container .cryptpad-dropdown p.cryptpad-dropdown-users {
  text-align: baseline;
}
.cryptpad-toolbar-leftside .cryptpad-dropdown-container .cryptpad-dropdown p.cryptpad-dropdown-users .yourself {
  font-style: italic;
}
.cryptpad-toolbar-leftside .cryptpad-dropdown-container .cryptpad-dropdown p.cryptpad-dropdown-users .anonymous {
  font-style: italic;
}
.cryptpad-toolbar-leftside .cryptpad-dropdown-container .cryptpad-dropdown p h2 {
  font-weight: bold;
  text-align: center;
  background-color: #EEEEEE;
  padding: 5px 0px;
  margin: 5px 0px;
  font-size: 16px;
}
.cryptpad-toolbar-leftside .cryptpad-dropdown-container .cryptpad-dropdown button {
  margin: 2px 0px;
}
.cryptpad-toolbar-leftside button {
  margin: 2px 4px 2px 0px;
}
.cryptpad-toolbar-leftside .cryptpad-userbuttons-container {
  display: none;
}
.cryptpad-toolbar-rightside {
  text-align: right;
}
.cryptpad-spinner {
  float: left;
  display: inline-block;
  height: 26px;
  margin: 2px;
  line-height: 26px;
  font-size: 20px;
}
.cryptpad-readonly {
  margin-right: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
.lag {
  display: inline-block;
  vertical-align: middle;
  padding: 0 !important;
  margin: 0 5px !important;
  height: 15px !important;
  width: 15px !important;
  border-radius: 50%;
  border: 1px solid #444;
}
.lag-green {
  background-color: #46E981;
}
.lag-red {
  background-color: #FF0073;
}
.lag-orange {
  background-color: #FE9A2E;
}
