/*
 * SPDX-FileCopyrightText: 2023 XWiki CryptPad Team <contact@cryptpad.org> and contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import (reference) "../../customize/src/less2/include/framework.less";
@import (reference) "../../customize/src/less2/include/tools.less";
@import (reference) "../../customize/src/less2/include/avatar.less";

// body
&.cp-app-tiptap {
    .framework_main(
        @bg-color: @colortheme_apps[tiptap],
    );

    display: flex;
    flex-flow: column;
    max-height: 100%;
    min-height: auto;
    color: @cp_app-fg;
    background-color: @cp_app-bg;

    #cp-tiptap-toolbar {
        button {
            color: @cryptpad_text_col;
            background: transparent;
            border: none;
            padding: 4px 6px;
            height: 2rem;
            i {
                cursor: inherit;
                background-repeat: no-repeat;
                margin-top: 1px;
                width: 16px;
                height: 16px;
                display: inline-block;
            }
            &.cp-active {
                background: #AAAAAAFF;
                color: black;
                outline: 5px auto -webkit-focus-ring-color;
            }
    }
}

    #cp-app-tiptap-editor {
        display: flex;
        flex: 1;

        #cp-tiptap-content {
            flex: 1;
            border: 1px solid @cp_sidebar-left-item-bg;
            .cp-tiptap-element {
                height: 100%;
                .ProseMirror {
                    padding: 8px 10px;
                    height: 100%;
                }
            }
        }



    }

    #cp-app-tiptap-editor {
        display: flex;
        #cp-tiptap-content {
            flex: 1;
            font-size: 16px;
            line-height: 1.6;
            word-wrap: break-word;
            margin: 0;
            padding: 20px;
        }
    }
}
