@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('cmuntt.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('cmuntb.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('cmunit.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('cmuntx.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}


