@font-face {
	font-family: 'Computer Modern Typewriter Variable';
	src: url('cmunvt.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Typewriter Variable';
	src: url('cmunvi.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}


