@import (once) "../include/infopages.less";
@import (once) "../include/colortheme.less";

.infopages_main();
.infopages_topbar();

.bio-avatar {
    border-radius: 50%;
    margin: 1em 0;
    max-width: 300px;
    max-height: 300px;
}
.cp-about-intro {
	padding-top: 3em;
	padding-bottom: 3em;
	background-image: url(/customize/bkabout.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .container {
    	color: #fff;
    	font-family: "Open Sans";
    	h1 {
    		font-weight: bold;
    	}
    	a {
    		color: #fff;
    		text-decoration: underline;
    	}
    	p {
    		padding-top: 1em;
    	}
    }

}