//@import (once) "./variables.less";

@import (once) "../include/infopages.less";
@import (once) "../include/colortheme.less";


.infopages_main();
.infopages_topbar();

@background: rgba(0,0,0,0.2);
&#cp-main {
    color: #FFF;
    background: linear-gradient( @background, @background ), url('/customize/bg8.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cp-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
        height: 30vh;
    }
    margin-left: 0;
    h1 {
        font-family: "Roboto";
        //font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", Times, serif;
        //font-family: "Raleway";
        font-size: 65px;
    }
    p {
        //font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 20px;
        font-style: italic;
    }
}


@callout-padding: 15px;

.bs-callout {
    display: flex;
    align-items: stretch;
    margin: 25px 0;
    background:rgba(255,255,255,0.6);
    color: black;
    transition: all .1s ease-in-out;
    box-sizing: border-box;
    height: 5em;
    position: relative;
}
h4 {
    margin: 0;
}
.bs-callout div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 5em;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout:hover {
    
}
.bs-callout:hover .fa {
    width: 100%;
}

.bs-callout .fa {
    display: flex;
    align-items: center;
    font-size: 2em;
    padding-left: 0.5em;
    width: 2em;
    transition: width 0.3s;
}

.cp-callout-pad .fa { background-color: @colortheme_pad-bg; }

.cp-callout-code .fa { background-color: @colortheme_code-bg; }

.cp-callout-slide .fa { background-color: @colortheme_slide-bg; }

.cp-callout-recent { border-left-color: @colortheme_drive-bg; }
