.charts_main() {
    &.bar {
        td {
            margin-top: 0.25em;
            background: @cryptpad_color_brand_fade !important;
            color: @cryptpad_color_grey_100 !important; //text_col !important;
            font-weight: bold;
        }
    }
}
