.charts_main() {
    &.bar {
        th {
            //width: 200px !important;
            font-size: 10px; // XXX
        }




        td {
            margin-top: 0.25em;
            background: @cryptpad_color_brand_fade !important;
            color: @cryptpad_color_grey_100 !important; //text_col !important;
            font-weight: bold;
        }
    }
}
