@colortheme_font: 'Open Sans', 'Helvetica Neue', sans-serif;
@colortheme_app-font-size: 16px;
@colortheme_app-font-size-small: 13px;
@colortheme_app-font: @colortheme_app-font-size @colortheme_font;

@colortheme_logo-1: #326599;
@colortheme_logo-2: #0087FF;
@colortheme_logo_2_light: lighten(@colortheme_logo-2, 40%);
@colortheme_loading_bg: #E7E7E7;

@colortheme_link-color: #0275D8;
@colortheme_link-color-visited: lighten(@colortheme_link-color, 10%);
@colortheme_info-background: #eeeeee;

@colortheme_base: #fff;
@colortheme_light-base: lighten(@colortheme_base, 20%);

@colortheme_cp-red: #FA5858; // remove red
@colortheme_cp-green: #46E981;

@colortheme_old-fore: #fafafa;

@colortheme_form-border: #bbbbbb;
@colortheme_form-bg: @colortheme_logo-2;
@colortheme_form-color: #ffffff;
@colortheme_form-bg-alt: #ffffff;
@colortheme_form-color-alt: @colortheme_logo-2;
@colortheme_form-warning: #f49842;
@colortheme_form-warning-hov: darken(@colortheme_form-warning, 5%);

@colortheme_context-menu-icon-color: #7b7b7b;

@colortheme_modal-bg: @colortheme_form-bg-alt; // TODO Modals bg
@colortheme_modal-fg: @colortheme_form-color-alt;
@colortheme_modal-link: @colortheme_link-color;
@colortheme_modal-link-visited: lighten(@colortheme_modal-link, 10%);
@colortheme_modal-dim: fade(@cryptpad_text_col, 50%); // TODO transparent background behind modals
@colortheme_modal-input: @colortheme_form-bg;
@colortheme_modal-input-fg: @colortheme_form-color;

@colortheme_loading-bg: @colortheme_logo-1;
@colortheme_loading-bg-alt: @colortheme_logo-2;
@colortheme_loading-color: @colortheme_old-fore;


// TODO modals buttons
@colortheme_alertify-red: #E55236;
@colortheme_alertify-red-color: #FFF;
@colortheme_alertify-red-border: transparent;
@colortheme_alertify-primary: @colortheme_form-bg;
@colortheme_alertify-primary-text: @colortheme_form-color;
@colortheme_alertify-primary-border: transparent;
@colortheme_alertify-disabled: #6c757d;
@colortheme_alertify-disabled-text: #ffffff;
@colortheme_alertify-disabled-border: #6c757d;
@colortheme_alertify-cancel: @colortheme_modal-bg;
@colortheme_alertify-cancel-border: #949494;

@colortheme_notification-warn: rgba(205, 37, 50, 0.8);

// Apps, these colors are used for customizing the toolbar for the apps.
@colortheme_toolbar-warn: @colortheme_alertify-red;
@colortheme_pad-toolbar-bg: #eeeeee;
@colortheme_help-bg: #ddd;
@colortheme_userlist-bg: #eee;
@colortheme_pad-chat-bg: #AAA;

@colortheme_apps: {
    default: #0087FF;
    drive: #0087FF; // Used as icon color in index.js (index.html)
    pad: #256ad5;
    code: #EAA000;
    slide: #e57614;
    poll: #2c9e98;
    whiteboard: #a72ba7;
    kanban: #8C4;
    sheet: #40865c;
    oodoc: #5170B5;
    ooslide: #C65D27;
    file: #CD2532;
}

@colortheme_static_apps: {
    default: #0087FF;
    teams: #4A3BBD;
    contacts: #607B8D;
}

@colortheme_poll-color: #fff;
@colortheme_poll-help-bg: #bbffbb;
@colortheme_poll-th-bg: #005bef;
@colortheme_poll-th-fg: #fff;

// Sidebar layout (profile / settings)
@colortheme_sidebar-active: #fff;
@colortheme_sidebar-left-bg: #eee;
@colortheme_sidebar-left-fg: #000;
@colortheme_sidebar-left-branch: #888;
@colortheme_sidebar-right-bg: #fff;
@colortheme_sidebar-right-fg: #000;
@colortheme_sidebar-description: #777;
@colortheme_sidebar-button-bg: #3066e5;
@colortheme_sidebar-button-red-bg: #e54e4e;
@colortheme_sidebar-button-alt-bg: #fff;

@cryptpad_color_blue: #4591C4;
@cryptpad_header_col: #1E1F1F;
@cryptpad_text_col: #3F4141;

@colortheme_checkmark-back0: @colortheme_form-bg-alt;
@colortheme_checkmark-back0-active: @colortheme_form-border;
@colortheme_checkmark-back1: @colortheme_form-bg;
@colortheme_checkmark-col1: @colortheme_form-color;
@colortheme_checkmark-back2: @colortheme_form-bg-alt;
@colortheme_checkmark-col2: @colortheme_form-color-alt;
@colortheme_checkmark-disabled: #AAA;

// New variables

// Colors
// XXX @cryptpad_color_brand = @colortheme_logo-2
@cryptpad_color_brand_soft: lighten(@colortheme_logo-2, 40%);

@cryptpad_color_hint_grey: #777;
@cryptpad_color_dark_grey: #999999;
@cryptpad_color_neutral_grey: #aaaaaa;
@cryptpad_color_neutral2_grey: #cccccc;
@cryptpad_color_help_grey: #dddddd;
@cryptpad_color_grey: #e0e0e0;
@cryptpad_color_toolbar_grey: #EEEEEE;
@cryptpad_color_light_grey: #f1f1f1;
@cryptpad_color_lighter_grey: #f9f9f9;

@cryptpad_color_light_blue: #00b7d8;
@cryptpad_color_lighter_blue: #d2e1f2;
@cryptpad_color_warn_red: #eb675e;
@cryptpad_color_red: #f00;
@cryptpad_color_dark_red: #9e0000;
@cryptpad_color_light_red: #FFD4D4;
@cryptpad_color_orange: #f49842;
@cryptpad_color_black: #000;
@cryptpad_color_white: #FFF;
@cryptpad_color_light_green: #c5ffa8;
@cryptpad_color_green: #5cb85c;

@cryptpad_color_link: #0275D8;

// Premium plans colors
@cryptpad_color_basic: #DDEFFF;
@cryptpad_color_pro: #E4FFDD;
@cryptpad_color_power: #F6DDFF;

// Loading screen
@cp_loading-bg: #E7E7E7;
@cp_loading-fg: @cryptpad_text_col;
@cp_loading-msg-bg: @cryptpad_color_white;
@cp_loading-error-bg: @cryptpad_color_dark_red;
@cp_loading-error-fg: @cryptpad_color_white;
@cp_loading-progress-bg: @cryptpad_color_white;
@cp_loading-progress-bar-bg: @colortheme_logo-2;
@cp_loading-spinner: @cryptpad_color_dark_grey;

// Chat
@cp_messenger-bg: @cryptpad_color_neutral2_grey;
@cp_messenger-fg: @cryptpad_text_col;
@cp_messenger-notif: @cryptpad_color_black;
@cp_messenger-friend: @cryptpad_color_black;
@cp_messenger-online: @cryptpad_color_light_green;

// Alertify
@cp_alertify-bg: @cryptpad_color_white;
@cp_alertify-fg: @colortheme_logo-2;
@cp_alertify-hover: fade(@cp_alertify-fg, 25%);
@cp_alertify-overlay: fade(@cryptpad_text_col, 50%);
@cp_alertify-log-bg: fade(@colortheme_logo-2, 90%);
@cp_alertify-log-fg: @cryptpad_color_white;
@cp_alertify-warn-bg: rgba(205, 37, 50);

// Forms
@cp_forms-fg: @cryptpad_text_col;
@cp_forms-bg: @cryptpad_color_white;
@cp_forms-border: @colortheme_logo-2;
@cp_forms-placeholder: @cryptpad_color_dark_grey;
@cp_forms-readonly: fade(@colortheme_logo-2, 25%);
@cp_forms-readonly-border: @cryptpad_color_white;
@cp_forms-disabled: #AAA;

// Buttons
@cp_buttons-fg: @colortheme_logo-2;
@cp_buttons-default: #CCC;
@cp_buttons-default-color: @cryptpad_text_col;
@cp_buttons-default-border: @cryptpad_text_col;
@cp_buttons-red: #E55236;
@cp_buttons-red-color: #FFF;
@cp_buttons-red-border: transparent;
@cp_buttons-primary: @colortheme_logo-2;
@cp_buttons-primary-text: #FFFFFF;
@cp_buttons-primary-border: transparent;
@cp_buttons-disabled: #6c757d;
@cp_buttons-disabled-text: #ffffff;
@cp_buttons-disabled-border: #6c757d;
@cp_buttons-cancel: #ffffff;
@cp_buttons-cancel-border: #949494;

// Sidebar layout
@cp_sidebar-left-bg: @cryptpad_color_grey;
@cp_sidebar-left-fg: @cryptpad_color_black;
@cp_sidebar-left-active: @cryptpad_color_white;
@cp_sidebar-right-bg: @cryptpad_color_white;
@cp_sidebar-right-fg: @cryptpad_text_col; // XXX was black
@cp_sidebar-hint: @cryptpad_color_hint_grey;

// Drive
@cp_drive-bg: @cryptpad_color_white;
@cp_drive-fg: @cryptpad_text_col;
@cp_drive-header-fg: @cryptpad_color_dark_grey;
@cp_drive-icon-hover: @cryptpad_color_grey;
@cp_drive-icon-border: @cryptpad_color_neutral2_grey;
@cp_drive-selected-bg: @cryptpad_color_dark_grey;
@cp_drive-selected-fg: contrast(@cp_drive-droppable-bg, @cryptpad_text_col, @cryptpad_color_light_grey);
@cp_drive-selection-overlay: fade(@cryptpad_color_black, 70%);
@cp_drive-selection-bg: @cryptpad_color_neutral_grey;
@cp_drive-selection-fg: @cryptpad_text_col;
@cp_drive-droppable-bg: @colortheme_logo-2;
@cp_drive-droppable-fg: contrast(@cp_drive-droppable-bg, @cryptpad_text_col, @cryptpad_color_light_grey);
@cp_drive-infobox-bg: @cryptpad_color_lighter_blue;
@cp_drive-infobox-fg: @cryptpad_color_black;
@cp_drive-warnbox-bg: @cryptpad_color_warn_red;
@cp_drive-warnbox-fg: @cryptpad_color_white;
@cp_drive-tree-branch: @cryptpad_color_dark_grey;


// Tooltip background
@cp_tooltip-bg: @cryptpad_color_grey;
@cp_tooltip-fg: @cryptpad_text_col;

// Dropdown
@cp_dropdown-fg: @cryptpad_text_col;
@cp_dropdown-bg: @cryptpad_color_lighter_grey;
@cp_dropdown-bg-hover: @cryptpad_color_light_grey;
@cp_dropdown-bg-active: @cryptpad_color_grey;

// Rendered Markdown
@cp_markdown-bg: @cryptpad_color_lighter_grey;
@cp_markdown-border: @cryptpad_color_grey;

// Avatar
@cp_avatar-bg: @cryptpad_color_grey;
@cp_avatar-fg: @cryptpad_text_col;

// Comments
@cp_comments-fg: @cryptpad_text_col;
@cp_comments-bg: @cryptpad_color_white;
@cp_comments-header: @cryptpad_color_dark_grey;

// Contextmenu
@cp_context-bg: @cryptpad_color_white;
@cp_context-bg-hover: @cryptpad_color_lighter_grey;
@cp_context-bg-active: @cryptpad_color_light_grey;
@cp_context-fg: @cryptpad_text_col;
@cp_context-icon: @cryptpad_color_dark_grey;
@cp_context-disabled: @cryptpad_color_neutral_grey;

// Corner
@cp_corner-primary: @colortheme_logo-1;
@cp_corner-secondary: @cryptpad_color_white;

// Pad Creation Screen
@cp_creation-bg: @cryptpad_color_white;
@cp_creation-fg: @cryptpad_text_col;
@cp_creation-button-bg: @colortheme_logo-2;
@cp_creation-button-fg: @cryptpad_color_white;
@cp_creation-error-bg: @colortheme_logo-1;
@cp_creation-error-fg: @cryptpad_color_light_grey;

// Export
@cp_export-bg: @cryptpad_color_white;
@cp_export-fg: @cryptpad_text_col;
@cp_export-hint: @cryptpad_color_hint_grey;
@cp_export-error-bg: @cryptpad_color_grey;
@cp_export-error-bg2: @cryptpad_color_neutral2_grey;

// File upload
@cp_upload-fg: @colortheme_logo-2;
@cp_upload-header: @cryptpad_color_help_grey;
@cp_upload-progress: @cryptpad_color_help_grey;

// Help
@cp_help-bg: @cryptpad_color_help_grey;
@cp_help-fg: @cryptpad_text_col;
@cp_help-link: @cryptpad_color_link;

// Static pages
@cp_static-bg: @cryptpad_color_toolbar_grey;
@cp_static-fg: @cryptpad_text_col;
@cp_static-link: @colortheme_logo-2;
@cp_static-title: @colortheme_logo-2;
@cp_static-footer: @cryptpad_color_help_grey;
@cp_static-footer-border: @cryptpad_color_white;
@cp_static-topbar-fg: @colortheme_logo-2;

// Limit
@cp_limit-fg: @cryptpad_text_col;

// Mentions
@cp_mentions-bg: @cryptpad_color_grey;
@cp_mentions-hover: @cryptpad_color_help_grey;

// Modals
@cp_access-overlay: fade(@cryptpad_color_white, 50%);
@cp_snapshots-hover: @cryptpad_color_help_grey;

// Support
@cp_support-bg: @cryptpad_color_lighter_grey;
@cp_support-msg-fg: @cryptpad_text_col;
@cp_support-msg-bg: @cryptpad_color_grey;
@cp_support-header-bg: @cryptpad_color_help_grey;

// Toolbar
@cp_toolbar-bg: @cryptpad_color_toolbar_grey;
@cp_toolbar-fg: @cryptpad_text_col;
@cp_toolbar-bottom-fg: @cryptpad_text_col;

@cp_toolbar-fade1: fade(@cryptpad_color_black, 10%);
@cp_toolbar-fade3: fade(@cryptpad_color_black, 30%);
@cp_toolbar-warn: @cp_buttons-red;

@cp_history-line-bg: @cryptpad_color_white;
@cp_history-bg1: #DDD;
@cp_history-bg2: #BBB;
@cp_history-fg: @cp_toolbar-bottom-fg;

// Tokenfield
@cp_token-bg: @cryptpad_color_neutral2_grey;
@cp_token-fg: @cryptpad_text_col;
@cp_token-bg-hover: @cryptpad_color_neutral_grey;
@cp_token-invalid: @cryptpad_color_warn_red;

// Usergrid
@cp_usergrid-fg: @cryptpad_text_col;
@cp_usergrid-selected-bg: @colortheme_logo-2;
@cp_usergrid-selected-fg: @cryptpad_color_white;

// Other
@cp_shadow-color: rgba(0,0,0,0.4);

// Apps

@cp_app-bg: @cryptpad_color_light_grey;

// Accounts
@cp_accounts-basic: @cryptpad_color_basic;
@cp_accounts-pro: @cryptpad_color_pro;
@cp_accounts-power: @cryptpad_color_power;
@cp_accounts-active: @cryptpad_color_light_green;
@cp_accounts-inactive: @cryptpad_color_light_red;
@cp_accounts-mysubs-alert: @cryptpad_color_white;
@cp_accounts-mysubs-bg: @cryptpad_color_toolbar_grey;
@cp_accounts-mysubs-fg: @cryptpad_text_col;
@cp_accounts-contact-hover: fade(@cryptpad_color_black, 20%);
@cp_accounts-tab-bg: @cryptpad_color_toolbar_grey;
@cp_accounts-tab-hover: @cryptpad_color_grey;
@cp_accounts-tab-border: @cryptpad_color_neutral_grey;

// Admin
@cp_admin-isadmin-fg: @colortheme_logo-2;
@cp_admin-isadmin-bg: @cryptpad_color_white;
@cp_admin-premium-fg: @cryptpad_color_warn_red;
@cp_admin-premium-bg: lighten(@cryptpad_color_warn_red, 25%);
@cp_admin-last-fg: @cryptpad_color_warn_red;
@cp_admin-last-bg: lighten(@cryptpad_color_orange, 25%);

// Code
@cp_preview-bg: @cryptpad_color_white;
@cp_preview-fg: @cryptpad_text_col;

// Debug
@cp_debug-hover: fade(@cryptpad_color_black, 10%);
@cp_debug-icon-hover: @cryptpad_color_dark_grey;

// Mediatag
@cp_mediatag-text-bg: @cryptpad_color_white;
@cp_mediatag-text-fg: @cryptpad_text_col;

// File
@cp_file-progress-bg: @colortheme_logo-2;
@cp_file-progress-fg: @cryptpad_text_col;

// Kanban
@cp_kanban-fg: @cryptpad_text_col;
@cp_kanban-item-bg: @cryptpad_color_light_grey;
@cp_kanban-board-bg: @cryptpad_color_help_grey;
@cp_kanban-conflict-bg: @cryptpad_color_toolbar_grey;
@cp_kanban-tags-bg: @cryptpad_color_help_grey;
@cp_kanban-add-hover: fade(@cryptpad_color_black, 10%);
@cp_kanban-trash-bg: @cryptpad_color_warn_red;
@cp_kanban-color0: @cryptpad_color_neutral2_grey;
@cp_kanban-colors: #FFD4D4, #FFDECA, #FFE69C, #DBFFB7, #AFFDC2, #C9FFFE, #C8D6FF, #E4CAFF;




