.markdown_main() {
    blockquote {
        background: #e5e5e5;
        background: rgba(128,128,128,0.5);
        padding: 10px;
        border-left: 3px solid #999;
        padding-right: 0;
        p { margin: 0; }
        blockquote { margin: 0; }
    }
    // todo ul, ol
    // TOC
    div.cp-md-toc {
        background: #f3f3f3;
        padding: 20px;
        //float: right;
        margin: 5px;
        margin-right: 0;
        max-width: 100%;
        min-width: 200px;
        white-space: nowrap;

        & > p {
            &.cp-md-toc-1 {
                margin-left: 0;
            }
            &.cp-md-toc-2 {
                margin-left: 25px;
            }
            &.cp-md-toc-3 {
                margin-left: 50px;
            }
            &.cp-md-toc-4 {
                margin-left: 75px;
            }
            &.cp-md-toc-5 {
                margin-left: 100px;
            }
            &.cp-md-toc-6 {
                margin-left: 125px;
            }
            margin: 0;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }

    div.plain-text-reader {
        background: #f3f3f3;
        padding: 10px;
        color: black;
        text-align: left;
    }
}

.markdown_preformatted-code (@color: #333) {
    pre > code {
        display: block;
        position: relative;
        border: 1px solid @color;
        width: 90%;
        margin: auto;
        padding-left: .25vw;
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.markdown_gfm-table (@color: black) {
    table {
        border-collapse: collapse;
        tr {
            th {
                border: 1px solid @color;
                padding: 15px;
            }
            td {
                border: 1px solid @color;
            }
        }
    }
}

