@import (reference) "../include/infopages.less";
@import (reference) "../include/colortheme-all.less";
@import (reference) "../include/alertify.less";
@import (reference) "../include/checkmark.less";
@import (reference) "../include/forms.less";

&.cp-page-login {
    .infopages_main();
    .alertify_main();
    .forms_main();
    .checkmark_main(20px);

    .form-group {
        .extra {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
    .cp-container {
        #userForm {
            .cp-shadow();
            background-color: @cp_static-card-bg;
            padding: 10px;
            margin: 0 10px 10px 10px;
            border-radius: @infopages-radius-L;
            .cp-login-instance {
                margin-bottom: 10px;
            }
            .form-control {
                border-radius: @infopages-radius;
                color: @cryptpad_text_col;
                background-color: @cp_forms-bg;
                margin-bottom: 10px;
                &:focus {
                    border-color: @cryptpad_color_brand;
                }
                .tools_placeholder-color();
            }
            .checkbox-container {
                color: @cryptpad_text_col;
            }
        }
        .align-items-center {
            box-shadow: 0 5px 15px @cp_shadow-color;
            background: @cryptpad_color_white;
        }
        .extra {
            margin-top: 1em;
            button.login {
                margin-right: 0px;
            }
        }
    }
    .cp-container {
        padding-top: 3em;
        min-height: 66vh;
    }
}

