html,
body {
  margin: 0px;
  height: 100%;
}
#toolbar {
  display: flex;
}
body {
  display: flex;
  flex-flow: column;
}
#app {
  flex: 1;
  background: url('/customize/bg3.jpg') no-repeat center center;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cryptpad-toolbar {
  padding: 0px;
  display: inline-block;
}
#file,
#dl {
  display: block;
  height: 100%;
  width: 100%;
  border: 2px solid black;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
media-tag img {
  max-width: 100%;
  max-height: calc(100vh - 96px);
}
#upload-form,
#download-form {
  padding: 0px;
  margin: 0px;
  position: relative;
  width: 50vh;
  height: 50vh;
  display: block;
  margin: 50px auto;
  max-width: 80vw;
}
#upload-form label,
#download-form label {
  line-height: calc(50vh - 20px);
  text-align: center;
  position: relative;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50vh;
  box-sizing: border-box;
}
#download-form label {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: normal;
  word-wrap: break-word;
}
#download-form label span {
  width: 50vh;
  max-width: 80vw;
  text-align: center;
  line-height: 1.5em;
}
.hovering {
  background-color: rgba(255, 0, 115, 0.5) !important;
}
.block {
  display: block;
}
.hidden {
  display: none;
}
.inputfile + label {
  display: block;
}
#progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 200ms;
  width: 0%;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(255, 0, 115, 0.75);
  z-index: 10000;
  display: block;
}
body #uploadStatusContainer {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  opacity: 0.9;
}
