html, body {
    margin: 0px;
    padding: 0px;
}
#sbox-iframe, #sbox-share-iframe, #sbox-filePicker-iframe {
    position: fixed;
    top:0; left:0;
    bottom:0; right:0;
    width:100%;
    height: 100%;
    border: 0;
    margin:0;
    padding:0;
    overflow:hidden;
}
