/*
 * SPDX-FileCopyrightText: 2023 XWiki CryptPad Team <contact@cryptpad.org> and contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@page {
    margin: 3cm;
    size: A4 portrait;
}
@media print {
    body {
        background: white !important;
    }
}
